{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load user_filters %}
{% block content %}

    <section class="catalog" id="catalog">
        <div class="container">
            <div class="catalog__wrapper">
                <div class="catalog-info">
                    <div class="catalog-info__item">
                        <h3 class="catalog-info__title">Каталог мировых монет и банкнот</h3>
                        <p class="catalog-info__text">Узнайте о монетах и бумажных деньгах с помощью совместного
                            каталога, охватывающего все страны и все периоды.<br>Определите монеты и банкноты с
                            помощью расширенных фильтров поиска.Каталог создается сообществом и добровольцами</p>
                    </div>
                    <div class="catalog-info__item">
                        <h3 class="catalog-info__title">Управляйте своей коллекцией</h3>
                        <p class="catalog-info__text">Узнайте о монетах и бумажных деньгах с помощью совместного
                            каталога, охватывающего все страны и все периоды.<br>Определите монеты и банкноты с
                            помощью расширенных фильтров поиска.Каталог создается сообществом и добровольцами</p>
                    </div>
                </div>
                <div class="catalog-users">
                    <div class="catalog-users__item">
                    {% comment %}Translators: index / Коллекционеры{% endcomment %}
                        <h4 class="catalog-isers__title">{% translate "Collectors" %}</h4>
                        <ul class="catalog-users__list">
                            {% for collector in collector_list %}
                                <li class="catalog-users__item">
                                    <a href="#">{{ collector.first_name }} {{ collector.last_name }}<span>[{{ collector.username }}]</span></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="catalog-users__item">
                        {% comment %}Translators: index / Редакторы{% endcomment %}
                        <h4 class="catalog-isers__title">{% translate "Editors" %}</h4>
                            <ul class="catalog-users__list">
                            </ul>
                    </div>
                    <div class="catalog-users__item">
                        {% comment %}Translators: index / Обменники{% endcomment %}
                        <h4 class="catalog-isers__title">{% translate "Exchangers" %}</h4>
                            <ul class="catalog-users__list">
                            </ul>
                    </div>
                </div>
            </div>

            <div class="categories">
                <ul class="categories__list">
                    {% for category in category_audio %}
                        <li class="categories__item">
                            <a href="{% url 'catalog:catalog-detail' slug=category.slug %}" class="categories__link">
                                {% if category.image %}
                                    <img src="{{ category.image.url }}" alt="{{ category.title }}" class="categories__img">
                                {% endif %}
                                <div class="categories__wrapper">
                                    <h1 class="categories__title">{{ category }}</h1>
                                    {% comment %}Translators: index / Объявлений{% endcomment %}
                                    <p class="categories__ads-count">{{ category.cassette_count }} {% translate "offers" %}</p>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <span class="categories__line"></span>
                <ul class="categories__list">
                    {% for category in category_video %}
                        <li class="categories__item">
                            <a href="{% url 'catalog:catalog-detail' slug=category.slug %}" class="categories__link">
                                <img src="{{ category.image.url }}" alt="{{ category.title }}" class="categories__img">
                                <div class="categories__wrapper">
                                    <h1 class="categories__title">{{ category }}</h1>
                                    {% comment %}Translators: index / Объявлений{% endcomment %}
                                    <p class="categories__ads-count">{{ category.cassette_count}} {% translate "offers" %}</p>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

    <section class="last-update" id="last-update">
        <div class="container">
        {% comment %}Translators: index / Последние обновления{% endcomment %}
            <h2 class="section__title last-update__title">{% translate "Latest updates" %}</h2>
            <ul class="products">
                {% for cassette in cassette_list %}
                    <li class="product">
                        <a href="{% url 'catalog:cassette' id=cassette.id %}" class="product__link">
                            {% if cassette.images.exists %}
                                {% with cover=cassette.images|image_cover %}
                                    <img src="{{ cover.image.url }}" alt="{{ cassette }}" class="product__img">
                                {% endwith %}
                            {% endif %}
                            <p class="product__categories">{{ cassette.category }}</p>
                            <p class="product__name">
                                {{ cassette.brand.title }}
                                {% if cassette.model %} {{ cassette.model.title }}{% endif %}
                                {% if cassette.series %} {{ cassette.series.title }}{% endif %}
                                {% if cassette.tape_type %} {{ cassette.tape_type.title }}{% endif %}
                                {% if cassette.tape_length %} {{ cassette.tape_length.tape_length }}{% endif %}
                                {% if cassette.country %} {{ cassette.country.title }}{% endif %}
                                {% if cassette.year_release %} ({{ cassette.year_release }}){% endif %} </p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="comment-last">
        <div class="container">
        {% comment %}Translators: index / Последние комментарии{% endcomment %}
            <h2 class="section__title comment-last__title">{% translate "Latest comments" %}</h2>
            <ul class="comment-last__list">
                {% for comment in comment_list %}
                    <li class="comment-last__item">
                        {% if comment.cassette.cassettesimage_set.first.package_front_side %}
                            <img src="{{ comment.cassette.cassettesimage_set.first.package_front_side.url }}" alt="" class="comment-last__img">
                        {% endif %}
                        <div class="comment-last__wrapper">
                            <a href="{% url 'catalog:cassette' id=comment.cassette.id %}" class="comment-last__product">
                                {{ comment.cassette.brand }} - {{ comment.cassette.series }}, {{ comment.cassette.brand.country }} ({{ comment.cassette.year_release }})
                            </a>
                            <p class="comment-last__text">{{ comment.comment|truncatechars:255 }}
                                {% comment %}Translators: index / подробнее{% endcomment %}
                                <a href="{% url 'catalog:cassette' id=comment.cassette.id %}#comment_{{ comment.id }}" class="comment-last__more more"> {% translate "more" %}</a></p>
                        </div>
                        <div class="comment-last__author">
                        {% comment %}Translators: index / Комментарий от{% endcomment %}
                            <p class="comment-last__from">{% translate "Comment from" %}</p>
                            <div class="user ">
                                <img src="{% if comment.user.image %}{{ comment.user.image.url }}{% else %}{% static 'img/avatar.jpg' %}{% endif %}" alt="" class="user__avatar">
                                <div class="user__wrapper">
                                    <h2 class="user__name">{{ comment.user.first_name }} {{ comment.user.last_name }}</h2>
                                    <p class="user__nick">[{{ comment.user.username }}]</p>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
