/* Fonts */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Black.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
}

/* Reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

table{
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

ul, li{
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}

input:focus{
    outline: none;
}

input{
    outline: none;
    border: none;
}

/* Components */
body{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
}

.breadcrumb{
    margin-bottom: 20px;
}

.breadcrumb li{
    display: inline;
    font-size: 14px;
    color: rgba(41, 35, 27, 0.4);;
}

.breadcrumb li a{
    color: rgba(41, 35, 27, 0.4);;
}

.breadcrumb li+li:before{
    padding: 0 8px;
    color: rgba(41, 35, 27, 0.4);
    content: "/\00a0";
}

.sort-by-card{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.sort-by-word{
    display: flex;
    align-items: center;
    margin: 0 0 25px;
}

.sort-by-word__item a{
    color: #837258;
}

.sort-by-word__item:not(:last-child){
    margin-right: 23px;
}

.sort-by-card li+li:before{
    padding: 0 20px;
    color: #837258;
    content: "\003A";
}

.sort-by-card a{
    color: #837258;
}

.product{
    width: 156px;
}

.product-small {
    border: 1px solid #F2EBE0;
    border-radius: 8px;
    display: inline-block;
    padding: 5px 6px 9px 5px;
}
   
.product-small__image-wrapper{
    background-color: #EFEAE3;
    padding: 11px 15px;
    margin-bottom: 4px;
    width: 129px;
    height: 85px;
    border-radius: 7px;
    
}
.product-small__img {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}
.product-small__name {
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    color: #837258;
    margin-bottom: 9px;
    border-bottom: 1px solid;
    width: 110px;
}
.product-small__price {
    font-family: 'Inter';
    font-weight: 600;
    color: #29231B;
}

.dropdown{
    position: relative;
}

.dropdown__options{
    top: 50px;
    position: absolute;
    background: #FFFFFF;
    border: 2px solid #F2EBE0;
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
}

.dropdown__options li{
    padding: 12px 16px;
    cursor: pointer;
    transition:  background .5s ease;
}

.dropdown__options li:hover{
    background: #fafafa;
}

.dropdown__options li.active{
    background: #F2EBE0;
}

.dropdown__options li:not(:last-child){
    border-bottom: 1px solid #EBE5DC;
}

.header-top__options li:not(:last-child){
    border-bottom: 1px solid #d3d3d3;
}

.header-top__options{
    border: 1px solid #d3d3d3;
}

.header-top__options li:hover{
    background: #e7e7e7;
}

.header-top__options li.active{
    background: #d3d3d3;
}

section{
    padding: 45px 0;
}

.container {
    width: 1255px;
    margin: 0 auto;
    position: relative;
}

.section__title{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24px;
    color: #29231B;
    margin-bottom: 25px;
}

.page__head_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page__head{
    margin-bottom: 25px;
}

.page__head-link{
    color: #9D6E53;
    font-family: 'Lato';
    font-weight: 500;
}

.page__title{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 32px;
    color: #29231B;
}

.page__wrapper{
    display: flex;
    justify-content: space-between;
}

.page__subtitle{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #29231B;
    margin-bottom: 13px;
}

.page__descriptions{
    width: 750px;
    font-size: 16px;
    line-height: 1.5em;
    color: rgba(41, 35, 27, 0.7);
    margin: 15px 0 20px;
}

.page__left{
    max-width: 1065px;
}

.page__text .page__text_center span{
    text-transform: uppercase;
    font-weight: 600;
}

.page__underline_text {
    border-bottom: 1px solid #837258;
    width: 381px;
    color: #837258;
    display: block;
}

.page__text_long{
    width: 599px;
}

.page__content_long{
    width: 645px;
}

.page__content-center{
    margin: 0 auto;
    width: 533px;
}
.page__title_center{
    text-align: center;
    margin-bottom: 25px;
}

.page__title_form{
    margin-bottom: 10px;
}

.page__text{
    font-size: 16px;
    color: rgba(41, 35, 27, 0.8);
    line-height: 1.5em;
}

.page__text_center{
    text-align: center;
    margin: 0 auto;
}

.page__text_short{
    width: 385px;
}

.page__head_underline{
    padding-bottom: 20px;
    border-bottom: 1px solid #F2EBE0;
}

.page__btns{
    display: flex;
    justify-content: center;
    margin: 35px auto 0;
}
.page__btns_indent{
     margin: 30px auto 0;
}

.page__btn{
    padding: 20px 35px;
    display: block;
}

.page__btn:not(:last-child){
    margin-right: 10px;
}

.btn {
    padding: 12px 22px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 32px;
    border: none;
    cursor: pointer;
}

.invisible{
    position: absolute;
    left: -9999px;
}

.btn_ghost {
    background-color: transparent;
    border: 1px solid #61471F;
    color: #61471F;
}

.btn_fill {
    background-color: #61471F;
    color: #fff;
}

.add-photo{
    width: 195px;
    padding: 10px 10px;
    border: 1px solid #EBE5DC;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.add-photo__text{
    font-size: 10px;
    line-height: 1.8em;
    text-align: center;
    color: rgba(41, 35, 27, 0.4);
    margin-bottom: 6px;
}

.add-photo__input{
    width: 95px;
    height: 95px;
    border: 1px solid #EBE5DC;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-photo-image{
    width: 95px;
    height: 95px;
    border: 1px solid #EBE5DC;
    border-radius: 5px;
    object-fit: contain;
    display: none;
}

.add-photo-delete{
    display: none;
    position: absolute;
    top: 35px;
    right: 33px;
    cursor: pointer;
}

.add-photo__input_plus::before{
    content: '';
    width: 14px;
    height: 14px;
    background: url("../img/plus-add.svg") no-repeat center center / contain;
}

.add-photo__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dropContainer{
    border: 1px solid #EBE5DC;
    border-radius: 10px;
    padding: 17px 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:10px;
}

.dropContainer__btn{
    display: inline-block;
}

.dropContainer__image-wrapper{
    display: flex;
    align-items: center;
}

.dropContainer__image-wrapper .preview{
    width: 105px;
    height: 55px;
    object-fit: contain;
    border: 1px solid #EBE5DC;
    border-radius: 5px;
    overflow: hidden;
}

.settings__dropanddrop{
    margin-top: 15px;
}

.dropContainer__wrapper span{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgba(41, 35, 27, 0.4);
    margin-left: 14px;
}

.dropContainer__image-wrapper{
    display: none;
}

.img-delete img{
    top: 35px;
    right: 33px;
    object-fit: contain;
    cursor: pointer;
    margin-left: 10px;
}

.error-code{
    font-size: 303px;
    color: transparent;
    -webkit-text-stroke: 1px #F0EAE1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    line-height: 0.8em;
    margin-bottom: 12px;
}

.error-code::before{
    position: absolute;
    content: '404';
    font-weight: 900;
    font-size: 240px;
    text-align: center;
    color: #61471F;
}

.now-ebay__item:not(:last-child){
    margin-bottom: 10px;
}

.dropdown__select{
    background: #FFFFFF;
    border: 2px solid #F2EBE0;
    border-radius: 8px;
    padding: 14px 20px 14px 16px;
    width: 100%;
    text-align: left;
    color: rgba(41, 35, 27, 0.9);
    font-family: "Inter";
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}

.dropdown__options{
    display: none;
    z-index: 1;
}

.show{
    display: block;
}

.dropdown__select::after{
    position: absolute;
    right: 10px;
    content: '';
    display: block;
    width: 12px;
    height: 6px;
    background: url('../img/arrow-down-drop.svg') no-repeat center center / contain;
}

.dropdown__select::before{
    position: absolute;
    content: '';
    display: block;
    width: 30px;
    height: 50%;
    background: #fff;
    right: 1px;
    border-radius: 5px;
}

.position__sort-drop{
    width: 245px;
}

.position__sort-text{
    color: rgba(41, 35, 27, 0.9);
    margin-right: 15px;
    font-family: "Inter";
}

.position__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.position__search{
    display: flex;
}

.position__search input{
    border-radius: 8px 0 0 8px;
    border-color: #EBE5DC;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    padding: 14px 0 14px 19px;
    width: 445px;
}

.position__search button{
    border-radius: 0 8px 8px 0;
    padding: 13px 35px;
}

.position__sort-text{
    color: rgba(41, 35, 27, 0.9);
    font-family: "Inter";
    font-weight: 400;
}

.position__sorting{
    display: flex;
    align-items: center;
}

.table-cust{
	width: 100%;
	color: rgba(41, 35, 27, 0.7);
    line-height: 1.29em;
}

.table-cust th:not(:last-child), .table-cust td:not(:last-child){
	border-style: solid;
	border-width: 0 1px 0 0;
	border-color: #F2EBE0;
}


.table-cust th{
	background-color: #E5D4C3;
	color: #29231B;
	font-weight: 600;
	width: 213px;
	padding: 10px;
	vertical-align: middle;

}

.table-cust td{
	padding: 15px;
	vertical-align: middle;
	text-align: center;
}

.table-cust th:first-child{
	border-radius: 10px 0 0;
}

.table-cust th:last-child{
	border-radius: 0 10px 0 0;
}

.table-cust tr:nth-child(odd):not(:first-child){
	background: #F9F6F3;
	border-style: solid;
	border-width: 1px 0;
	border-color: #F2EBE0;
}

.table-cust tr:nth-child(even){
	background: #FFF;
}

.table-cust .info{
	text-align: center;
}

.table-cust .info{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: rgba(41, 35, 27, 0.5);
}

.table-cust .correct:before{
	content: "";
	width: 16px;
	height: 16px;
	margin-bottom: 8px;
	background: url(../img/warning-yellow.svg) no-repeat center center/contain;
}

.table-cust .not-info:before{
	content: "";
	width: 16px;
	height: 16px;
	margin-bottom: 8px;
	background: url(../img/warning-red.svg) no-repeat center center/contain;
}

.table-cust .data:before{
	content: "";
	width: 16px;
	height: 16px;
	margin-bottom: 8px;
	background: url(../img/warning-green.svg) no-repeat center center/contain;
}

.table-cust__medium{
	font-weight: 600;
	font-size: 16px;
}

.checkbox-cust__input{
    position: absolute;
    left: -9999px;
}

.checkbox-cust__input + label{
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.5em;
}

.checkbox-cust{
    position: relative;
}

.checkbox-cust:not(:last-child){
    margin-bottom: 8px;
}

.checkbox-cust__input + label:before{
    content: '';
    width: 21px;
    height: 21px;
    background: #FFFFFF;
    border: 1px solid #D3CDC2;
    border-radius: 2px;
    margin-right: 10px;
}

.checkbox-cust__input:checked + label:after{
    position: absolute;
    left: 5px;
    content: '';
    width: 13px;
    height: 13px;
    background: #8F6C4D;
    border-radius: 2px;
    display: block;
}


.table-info tr{
    vertical-align: top;
}

.table-info__name{
    font-weight: 700;
    color: #29231B;
}

.table-info__replase{
    display: flex;
    align-items: center;
}

.table-info tr td{
    padding-bottom: 10px;
}

.table-info__replase li+li:before{
    padding: 0 8px;
    color: rgba(41, 35, 27, 0.4);
    content: "\007C";
}

.table-info__replase .bold{
    font-weight: 900;
    color: #837258;
}

.table-info__value{
    font-size: 16px;
    color: #29231B;
}

.table-info__value a{
    color: #837258;
}

.table-info__value img{
    width: 110px;
    height: 60px;
    object-fit: contain;
    margin-top: 5px;
}

.input-cust{
    width: 100%;
    color:rgba(41, 35, 27, 0.5);
    padding: 14px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #F2EBE0;
}

.input-cust::placeholder{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    color: rgba(41, 35, 27, 0.8);
}

.input-cust_fz14{
    font-size: 14px;
}

.textarea-cust::placeholder{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    color: rgba(41, 35, 27, 0.8);
}

.input-cust::-webkit-input-placeholder{
    color: rgba(41, 35, 27, 0.8);
}

.input-cust:not(:last-of-type){
    margin-bottom: 10px;
}

.input-code{
    padding: 14px 0 14px 15px;
    border-radius: 8px;
    margin: 24px auto 15px;
    width: 340px;
    display: block;
}



/* Gallery Product */
.gallery-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 35px 0 30px;
}

.gallery-product__item{
    width: 126px;
    height: 126px;
    border: 1px solid #EBE5DC;
    border-radius: 7px;
}

.gallery-product__item img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
/*  */

.group-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.group-list__wrapper{
    width: 33.3%;
    padding-right: 30px;
}

.group-list__title{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    color: #29231B;
    margin-bottom: 15px;
}
.group-list__item a{
    font-weight: 500;
    font-size: 16px;
    color: #837258;
}
.group-list__item:not(:last-child){
    margin-bottom: 12px;
}

.group-list__item:last-child{
    margin-bottom: 68px;
}

/* Modal  */

.modal{
    position: fixed;
    z-index: 999;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #14141437;
}

.modal.active{
    display: flex;
}

.modal__wrapper{
    background-color: #fff;
    width: 425px;
    border-radius: 20px;
    position: absolute;
    padding: 50px 32px 40px 32px;
}

.modal__close{
    position: absolute;
    right: 0;
    top: 0;
    margin: 25px 20px 0 0;
}

.modal__title{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 22px;
    color: #29231B;
    padding: 0 0 25px 0;   
}

.modal__not-pass{
    color: rgba(130, 105, 97, 0.8);
    margin: 7px 0 0;
}

.modal__btn{
    width: 100%;
    padding: 14px 22px;
    border-radius: 30px;
    margin-top: 20px ;
}

.modal__wrapper-block{
    display: flex;
    margin-top: 20px;
}

.modal__text{
    color: #29231BCC;
    line-height: 1.43em;
}

.modal__login{
    color: #826961CC;
    border-bottom: 1px solid rgba(41, 35, 27, 0.4);
    margin-left: 5px;
    padding-bottom: 1px;
}

.modal__text_indent{
    margin-bottom: 20px;
}

.modal__replace{
    color: rgba(41, 35, 27, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0 20px;
}

.modal__replace::before{
    content:"";
    height: 2px;
    width: 60px;
    background-color: rgba(41, 35, 27, 0.2);
    margin-right: 21px;
}

.modal__replace::after{
    content:"";
    height: 2px;
    width: 60px;
    margin-left: 21px;
    background-color: rgba(41, 35, 27, 0.2);
}


/*  */

.authorization-google{
    background-color: #F2EBE0;
    width: 100%;
    border: 1px solid #F2EBE0;
    border-radius: 5px;
    padding: 16px 0 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.authorization-google:before{
    content: "";
    background: url(../img/google-icon.png) no-repeat center center/contain;
    width: 29px;
    height: 29px;
    margin-right: 18px;
}


/* Header */
.header {
    padding: 12px 0 0 0;
}

.header-top {
    display: flex;
    align-items: center;
}
.logo {
    width: 90px;
    height: auto;
}

.logo img{
    width: 100%;
    height: auto;
}

.logo_footer{
    width: 107px;
}

.header-top__search {
    border-radius: 30px;
    background-color: #F8F8F8;
    padding: 15px 22px 17px;
    display: flex;
    align-items: center;
    width: 565px;
    margin-left: 108px;
}

.header-top__search::before{
    content: '';
    background: url('../img/search-icon.svg') no-repeat center center / contain;
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 10px;
}

.header-top__search input{
    border: none;
    background-color: transparent;
    font-size: 12px;
    color: #000;
}
.header-top__change-lang {
}

.header-top__wrapper{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-top__lang {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #9A9EA6;
    display: flex;
    align-items: center;
    width: 150px;
}

.header-top__lang::before{
    content: '';
    background: url('../img/lang-icon.svg') no-repeat center center / contain;
    width: 20px;
    height: 20px;
    display: block;
    margin-right: 8px;
    right: auto;
    position: relative;
}

.header-top__lang::after{
    content: '';
    background: url('../img/arrow-down.svg') no-repeat center center / contain;
    width: 10px;
    height: 6px;
    display: block;
    margin-left: 10px;  
    right: 0;
    position: relative;
}

.header-top__profile {
    
}

.header-top__btn-login {
}

.header-top__btn-registration {
    margin-left: 10px;
}
.header-brands {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-brands__audio-cassette {
    display: flex;
    align-items: center;
}
.header-brands__item {
}

.header-brands__item:not(:last-child){
    margin-right: 28px;
}

.header-brands__line{
    background-color: #E6E5E5;
    width:  1px;
    height: 22px;
}
.header-brands__link {
}
.header-brands__video-cassette {
    display: flex;
    align-items: center;
}
.header-menu {
    background-color: #76583C;
    padding: 14px 0;
}
.header-menu__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-menu__list {
    display: flex;
    align-items: center;
}
.header-menu__item a{
    color: #fff;
    font-weight: 600;
}

.header-menu__item:not(:last-child) {
    margin: 0 40px 0 0;
}

.header-menu__item_left{
    margin: 0 0 0 40px !important;
}

/* Catalog */

.catalog{
    padding: 40px 0 45px;
}

.section_breadcrumb{
    padding: 25px 0 90px;
}

.catalog__title{
    margin-bottom: 30px;
}

.catalog__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}
.catalog-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 935px;
    padding: 25px;
    border: 1px solid #E7DCCB;
    border-radius: 10px;
}
.catalog-info__item {
    max-width: 430px;
}
.catalog-info__title {
    color: #29231B;
    margin-bottom: 11px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
}
.catalog-info__text {
    color: rgba(41, 35, 27, 0.7);
    line-height: 1.43em;
}
.catalog-users {
    border: 1px solid #E7DCCB;
    border-radius: 10px;
    padding: 17px 30px 25px;
}

.catalog-users__item:not(:last-child){
    margin-bottom: 10px;
}

.catalog-users__item a{
    color: #837258;
}

.catalog-users__item a span{
    color: rgba(41, 35, 27, 0.6);
    margin-left: 6px;
    font-size: 12px;
}

.catalog-isers__title {
    color: #29231B;
    font-family: 'Inter';
    font-weight: 600;
    margin-bottom: 7px;
}
.catalog-users__list:not(:last-child){
    margin-bottom: 10px;
}

.categories{
    display: flex;
    justify-content: space-between;
}

.categories__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories__line{
    width: 1px;
    height: auto;
    background: #F7F7F7;
    margin: 0 16px;
}

.categories__item {
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.09);
    width: 300px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.categories__link{
    padding: 8px 0;
    display: flex;
    align-items: center;
}
.categories__img{
    width: 115px;
    height: 80px;
    object-fit: contain;
}
.categories__title {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    margin: 0 11px 7px 10px;
    color: #29231B;
}
.categories__ads-count {
    margin: 0 74px 0 10px;
    color: rgba(41, 35, 27, 0.6);
}

/* Last Update */

.products {
    display: flex;
    justify-content: space-between;
}
.product__img {
    width: 100%;
    height: 156px;
    object-fit: contain;
    border: 1px solid #EBE5DC;
    border-radius: 10px;
    margin-bottom: 5px;
}
.product__categories {
    font-size: 12px;
    line-height: 18px;
    color: rgba(41, 35, 27, 0.6);
    margin-bottom: 5px;
}
.product__name {
    font-weight: 600;
    line-height: 18px;
    color: #29231B;
    width: 115px;
}

/* Last Comments */

.comment-last__item {
    display: flex;
    border-top: 1px solid #F2EBE0;
    width: 100%;
    padding-top: 12px;
}

.comment-last__item:not(:last-child){
    margin-bottom: 20px;
}

.comment-last__img {
    width: 102px;
    height: 65px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.comment-last__wrapper {
    width: 75%;
}
.comment-last__product {
    line-height: 18px;
    color: #837258;
    font-weight: 600;
    border-bottom: 1px solid;
    margin-left: 33px;
}
.comment-last__text {
    line-height: 20px;
    color: #29231B;
    margin: 14px 41px 0 33px;
    width: 100%;
    padding-right: 40px;
}

.more{
    line-height: 18px;
    color: #837258;
    border-bottom: 1px solid;
    display: inline-block;
}

.comment-last__more {
    margin-left: 10px;
}

.tabs__item {
	border: 1px solid #F2EBE0;
	border-radius: 5px;
	background-color: #fff;
	width: 100%;
    padding: 17px 11px 16px;
}

.tabs__item.active{
    background: #F9F6F3;
}

.tabs__item:not(:last-child){
    margin-bottom: 5px;
}

.tabs__link{
    display: flex;
}

.tabs__icon {
	width: 12px;
	height: 12px;
    margin-right: 15px;
}
.tabs__name {
	font-family: 'Inter';
	font-weight: 500;
}
.tabs__count {
	margin-left: auto;
	color: rgba(91, 58, 48, 0.6);
}

.comment {
	display: flex;
    justify-content: space-between;
}
.comment__text {
	line-height: 20px;
	color: rgba(41, 35, 27, 0.7);
    max-width: 710px;
}

.user {
    display: flex;
}
.comment-last__from{
    font-size: 12px;
    line-height: 20px;
    color: rgba(41, 35, 27, 0.4);
    margin-bottom: 5px;
}
.user__avatar {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 45px;
    height: 45px;
}
.user__wrapper {
}
.user__name {
    font-family: 'Inter';
    font-weight: 600;
    color: #837258;
    margin-left: 8px;
    font-size: 14px;
    position: relative;
}
.user__nick {
    color: rgba(41, 35, 27, 0.6);
    font-size: 12px;
    margin-left: 8px;
    text-align: left;
}

.user_premium .user__name::after{
    content: "";    
    width: 21px;
    height: 21px;
    background: url("../img/icon-premium.svg") no-repeat center center / contain;
    margin-left: 8px;
    position: absolute;
    top: 0;
    right: -30px;
}

/* Сategories-page */

/* Delete-account */

.delete-account{
    padding: 90px 0 202px;
}

/* Aplplication send */

.application-send{
    padding: 140px 0 228px;
}

/* Info Processed */

.info-processed{
    padding: 140px 0 250px;
}

/* Object */

.object{
    padding: 140px 0 214px;
}

/* My list */

.my-list{
    padding: 140px 0 250px;
}

/* User exists */

.user-exists{
    padding: 130px 0 255px;
}

/* Product info */

.product__info{
    border-top: 1px solid #F2EBE0;
    border-bottom: 1px solid #F2EBE0;
    padding: 25px 0;
}

.product__info-wrapper{
    display: flex;
    justify-content: space-between;
}

.product__left{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product__block{
    width: 455px;
}

.product__subtitle{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #29231B;
    margin-bottom: 15px;
}

.product__collection-radio{
    position: absolute;
    left: -9999px;
}

.product__collection-table td{
    padding: 0;
    font-size: 15px;
    color: #29231B;
}

.product__collection-table{
    border-bottom: 1px solid #F2EBE0;
}

.product__collection-table th{
    white-space: nowrap;
    font-weight: 500;
    color: #29231B;
}

.product__collection-btn{
    margin-top: 25px;
}

.product__collection-radio + label{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 13px;
}

.product__collection-radio:checked + label{
    background-color: #F9F6F3;
}

.product__collection-radio:checked + label:before{
    content: '';
    width: 20px;
    height: 20px;
    background: url('../img/checked-icon.svg') no-repeat center center / contain;
    border-radius: 100%;
    margin-right: 10px;
}

.product__collection-title{
    font-weight: 700;
    color: #29231B;
    margin-bottom: 8px;
}

.product__collection-save{
    margin-top: 25px;
}

.product__frequencies{
    margin-top: 40px;
}

.product__frequencies-image{
    object-fit: contain;
    width: auto;
    height: 205px;
}

/* Variant */
.variant{
	display: flex;
}

.variant__img img{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.variant__text{
	width: 162px;
	margin-left: 16px;
	font-size: 14px;
	color: #29231B;
}

.variant-release{
	display: flex;
}

.variant-release__wrapper{
	margin-left: 12px;
}

.variant-release__name{
	color: #29231B;
    font-size: 14px;
    font-weight: 400;
}

.variant-release__index{
    margin-top: 2px;
	color: rgba(41, 35, 27, 0.6);
}

.variant-release__img img{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.product__variants{
    margin-top: 40px;
}

.product__variants-radio{
    position: absolute;
    left: -9999px;
}

.product__variants-radio + label{
    cursor: pointer;
}

.product__variants-radio:checked + label .variant__img, .product__variants-radio:checked + label .variant-release__img{
    position: relative;
}

.product__variants-radio:checked + label .variant__img:before, .product__variants-radio:checked + label .variant-release__img:before{
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 2;
    content: '';
    width: 32px;
    height: 32px;
    background: url('../img/checked-icon.svg') no-repeat center center / contain;
    display: block;
}


.product__variants-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product__variants-wrapper_not-jcsb{
    justify-content: flex-start;
}

.product__variants-radio-wrapper_margin:not(:last-of-type){
    margin-right: 60px;
}

.product__comments-form{

}

.textarea-cust{
    font-family: 'Lato';
    width: 100%;
    min-height: 125px;
    display: block;
    border: 2px solid #F2EBE0;
    border-radius: 8px;
    padding: 14px 15px;
    resize: vertical;
    font-weight: 400;
    font-size: 14px;
    color: rgba(41, 35, 27, 0.8);
}

.textarea-cust_no-resize{
    resize: none;
}


.product__comments-btn{
    margin-top: 15px;
}

.product__comments{
    margin-top: 60px;
}

.product__comments-item{
    max-width: 925px;
}

.product__comments-add{
    margin-top: 40px;
}

.product__comments-item:not(:last-child){
    padding-bottom: 20px;
    border-bottom: 1px solid #F2EBE0;
    margin-bottom: 15px;
}

.product__comments-title{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 22px;
    color: #29231B;
}

.product__comments-text{
    color: rgba(41, 35, 27, 0.6);
    margin: 13px 0 20px;
}

/*  */

.technology-desc{
    padding: 25px 0 90px;
}

.page__subtitle{
    margin-top: 25px;
}

.technology-desc__text{
    margin-top: 14px;
}

.page__content{
    max-width: 900px;
}

.page__list{
    margin-left: 25px;
}

.page__item{
    list-style: disc;
}

.link_underline{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    color: rgba(41, 35, 27, 0.8);
    border-bottom: 1px solid rgba(41, 35, 27, 0.8);
    cursor: pointer;
}

.page__text .bold{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5em;
    color: rgba(41, 35, 27, 0.8);
}

.technology-desc__subtitle{
    max-width: 540px;
}

.technology-desc__image{
    margin-top: 30px;
    max-width: 530px;
    height: auto;
    display: block;
}

.technology-desc__descriptions{
    margin-top: 10px;
}

.technology-desc__link-more, .help-page__link-more{
    display: table;
    margin-top: 20px;
}

.help-page__link-more_top-margin{
    margin-top: 35px;
}

/*  */

.collector-user__list{
    width: 226px;
}

.collector-user__list-title{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    color: #29231B;
    margin-bottom: 15px;
}

.collector-user__list-title_medium{
    font-weight: 500;
    margin-bottom: 0;
}

.collector-user__wrapper{
    display: flex;
    align-items: start;
}

.collector-user__info-wrapper{
    margin-left: 30px;
    display: flex;
}

.collector-user__buy-object{
    font-weight: 500;
    font-size: 12px;
    color: #48B515;
    margin-top: 8px;
    display: block;
}

.collector-user__info{
    max-width: 500px;
    margin-left: 30px;
}

.collector-user__print{
    font-weight: 500;
    font-size: 12px;
    color: rgba(41, 35, 27, 0.4);
    margin: 5px 0 20px;
    display: block;
}

.collector-user__avatar{
    border: 1px solid #EBE5DC;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.collector-user__fullname {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17em;
    color: #29231B;
    display: flex;
    align-items: center;
}
.collector-user__fullname.premium::after {
    content:'';
    width: 81px;
    height: 25px;
    background: url('../img/icon-full-premium.svg') no-repeat center center / contain;
    margin-left: 10px;
}
.collector-user__nick {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    color: rgba(41, 35, 27, 0.8);
    margin-top: 6px;
}

.collector-user__table-info {
    margin-top: 20px;
}
.collector-user__table-name{
    font-weight: 500;
    font-size: 12px;
    color: rgba(41, 35, 27, 0.4);
}

.collector-user__table-value{
    font-weight: 500;
    font-size: 12px;
    color: #29231B;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.reyting::before {
    content: '';
    width: 13px;
    height: 13px;
    background: url('../img/star.svg') no-repeat center center / contain;
    margin-right: 3px;
}
.collector-user__about {
    margin-top: 25px;
}
.collector-user__about-title {
    font-weight: 500;
    font-size: 12px;
    color: rgba(41, 35, 27, 0.4);
    margin-bottom: 10px;
}
.collector-user__about-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5em;
    color: rgba(41, 35, 27, 0.7);
}

.collector-user__about-text:not(:last-child){
    margin-bottom: 15px;
}

.collector-user__note {
    margin-top: 25px;
}

.collector-user__note-title {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #29231B;
}

.collector-user__textarea {
    margin: 15px 0 10px;
    width: 100%;
}

.collector-user__complain {
    margin-top: 20px;
    display: inline-block;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 12px;
    color: #C45636;
}

.collector-user__premium {
    margin: 0px 10px;
    width: 250px;
    padding: 17px 15px 22px;
    border: 1px solid #F2EBE0;
    border-radius: 5px;
}


.collector-user__premium-title {
    font-family: 'Inter';
    font-weight: 600;
    color: #29231B;
    margin-bottom: 10px;
}

.collector-user__collection{
    width: 995px;
    margin-left: 30px;
}

.collector-user__premium-text {
    font-weight: 400;
    font-size: 12px;
    color: rgba(41, 35, 27, 0.7);
    margin-bottom: 10px;
}

.collector-user__premium-link {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 12px;
    text-decoration-line: underline;
    color: #837258;
}

/*  */

.help-page__list{
    margin-bottom: 15px;
}

.help-page__text_top-margin{
    margin-top: 15px;
}

.help-page_btn{
    margin-top: 40px;
    display: inline-block;
}

.page__form{
    margin-top: 25px;
}

.page__form-btn{
    margin: 0 auto;
    display: block;
    margin-top: 25px;
    padding: 20px 35px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}


.page__form-table-value{
    width: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29em;
    color: #29231B;
}

.page__form-table-value_long{
    width: 125px;
}



.page__form-table-value_pt{
    padding-top: 16px;
}

.page__form-table-value_middle{
    vertical-align: middle;
}

.page__form-table-input{
    width: 460px;
    padding-left: 20px;
}

.page__form-table-input_long{
    width: 360px;
}

.page__form-table-input input{
    font-size: 14px;
}

.page__form-table-input textarea{
    font-size: 14px;
}

/*  */

.support{
    padding: 60px 0 65px;
}

/*  */

.edit-email{
    padding: 90px 0 195px;
}

/*  */
.edit-password{
    padding: 90px 0 140px;
}

/*  */

.error{
    padding: 60px 0 100px;
}


/*  */

.settings__wrapeer{
    display: flex;
    justify-content: space-between;
}

.settings__collection-title{
    margin-bottom: 10px;
}

.setting__left-block{
    width: 610px;
}
.setting__right-block{
    width: 600px;
}

.settings__title{
    margin-bottom: 25px;
}
.settings__title-block{
    margin-bottom: 15px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    color: #29231B;
}

.settings__checkbox:not(:last-child) {
    margin-bottom: 0px;
}

.settings__wrapper-checkbox_objects{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.settings__checkbox{
    margin-right: 30px;
}

.settings__wrapper{
    margin-top: 25px;
}
.settings__collection{
    width: 230px;
    margin-right: 20px;
}

.settings__collection-wrapper{
    display: flex;
}

.settings__user-avatar{
    width: 170px;
    height: 170px;
    object-fit: cover;
    border: 1px solid #EBE5DC;
    border-radius: 10px;
    margin-top: 10px;
    display: block;
}

.settings__link-delete{
    margin-top: 5px;
}

.settings__select-img{
    display: table;
    margin-top: 12px;
}

.settings__block{
    margin-bottom: 30px;
}

.settings__block-edit{
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.settings__link-edit{
    
}


/* Footer */

footer{
    border-top: 1px solid #E6E5E5;
    padding: 22px 0;
}

.footer-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-top__menu{
    display: flex;
    align-items: center;
}

.footer-top__menu-item a{
    color: #29231B;
    font-weight: 500;
}

.footer-top__menu-item:not(:last-child){
    margin-right: 30px;
}

.footer-bottom{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-bottom__credits{
    color: rgba(41, 35, 27, 0.4);
}

.footer-bottom__politics{
    color: rgba(41, 35, 27, 0.4);
    font-weight: 500;
    border-bottom: 1px solid rgba(41, 35, 27, 0.4);
}

.table__inputs-text{
    width: 120px;
}

.table__inputs-value{
    padding-left: 10px;
    width: 340px;
}

.table__inputs td{
    padding-bottom: 10px;
}

.settings__text-bold{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #29231B;
}

.settings__title{
    margin-bottom: 15px;
}

.settings__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29em;
    color: rgba(41, 35, 27, 0.7);
    margin-bottom: 15px;
}

.settings__del-user{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: rgba(239, 32, 32, 0.7);
    margin-top: 20px;
    display: inline-block;
}

.settings__link-edit{
    font-weight: 700;
    font-size: 14px;
    color: #837258;
}
.settings__link-edit:not(:last-child){
    margin-bottom: 10px;
}

.setting__btn{
    display: block;
    margin: 0 auto;
    padding: 20px 35px;
}

.burger{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: #61471F;
    margin-left: 30px;  
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    display: none;
}

.burger span{
    width: 25px;
    height: 2px;
    display: block;
    background: #fff;
    position: relative;
}

.burger span::before{
    content: '';
    width: 25px;
    height: 2px;
    background: #fff;
    display: block;
    position: absolute;
    top: -8px;
}

.burger span::after{
    content: '';
    width: 25px;
    height: 2px;
    background: #fff;
    display: block;
    position: absolute;
    bottom: -8px;
}

.page__text_long{
    width: 100%;
}

@media (max-width: 1439px) {
    .container {
        width: 1170px;
    }

    .catalog-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 870px;
        padding: 25px;
        border: 1px solid #E7DCCB;
        border-radius: 10px;
    }
    .categories__img {
        width: 80px;
    }

    .categories__item{
        width: 270px;
    }

    .header-brands__item:not(:last-child){
        margin-right: 20px;
    }
    .now-ebay{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .page__wrapper{
        flex-direction: column;
    }
    .gallery-product__item{
        width: 120px;
        height: 120px;
    }

    .product__left{
        width: 100%;
    }

    .product__now-ebay{
        justify-content: flex-start;
    }

    .product__now-ebay .now-ebay__item{
        margin-right: 30px;
    }
    .add-photo {
        width: 180px;
    }
}








@media (max-width: 1240px) {
    .container {
        width: 960px;
    }
    
    .header-top__search {
        width: 430px;
        margin-left: 30px;
    }
    .header-brands__item:not(:last-child) {
        margin-right: 5px;
    }

    .add-photo {
        width: 220px;
    }

    .header-brands__link img{
        width: 90%;
    }

    .settings__textarea{
        width: 95%;
    }

    .header-menu__item:not(:last-child) {
        margin: 0 25px 0 0;
    }
    .categories__item {
        width: 100%;
    }
    .categories__img {
        width: 110px;
    }
    .catalog-info__item {
        max-width: 315px;
    }
    .catalog-info{
        max-width: 690px;
    }
    .product{
        width: 120px;
    }
    .product__img{
        height: 120px;
    }
    .gallery-product__item{
        width: 100px;
        height: 100px;
    }

    .product__variants-wrapper, .product__variants{
        flex-wrap: wrap;
    }
    .variant, .variant-release{
        margin-bottom: 20px;
    }
}

@media (max-width: 991px) {
    .container {
        width: 740px;
    }
    .header-brands{
        display: none;;
    }
    .header-top__search{
        display: none;
    }
    .header-menu{
        padding: 3px 0;
    }
    .header-menu__wrapper{
        display: none;
    }
    .burger{
        display: flex;
    }
    .header-menu__wrapper{
        position: absolute;
        background: #76583C;
        flex-direction: column;
        top: 0;
        right: 0;
        padding: 30px 30px;
        z-index: 3;
    }
    .burger-show{
        display: flex;
    }
    .header-menu__list{
        flex-direction: column;
        width: 100%;
    }
    .header-menu__list:first-child{
        border-top: 1px solid #fff;
    }
    .header-menu__item{
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid #fff;
        text-align: center;
    }

    .header-menu__item a{
        font-size: 18px;
    }
    .header-menu__item:not(:last-child) {
        margin: 0 0 0 0;
    }
    .header-menu__item_left {
        margin: 0 0 0 0 !important;
    }
    .position__search input{
        width: 230px;
    }
    .sort-by-word__item:not(:last-child) {
        margin-right: 17px;
    }
    .table-overflow{
        width: 100%;
        overflow-x: auto;
    }
    .collector-user__wrapper{
        flex-direction: column;
    }
    .collector-user__list{
        width: 100%;
    }
    .tabs__list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .tabs__item{
        width: 23%;
    }

    .tabs__item:not(:last-child) {
        margin-bottom: 0px;
    }

    .product {
        width: 160px;
        margin-bottom: 30px;
    }

    .product__img{
        height: 160px;
    }
    .products{
        flex-wrap: wrap;
    }
    .catalog-info {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .catalog__wrapper {
        flex-direction: column;
    }
    .comment__text {
        margin-left: 30px;
    }
    .settings__wrapeer{
        flex-direction: column;
    }
    .setting__left-block{
        width: 100%;
    }
    .setting__right-block{
        width: 100%;
    }
    .table__inputs-value{
        width: 80%;
    }
    .table__inputs-text{
        width: 20%;
    }
    .table__inputs{
        width: 100%;
    }
}

@media (max-width: 767px) {
    .container {
        width: 550px;
    }
    .page__descriptions{
        width: 100%;
    }
    .position__wrapper{
        flex-direction: column;
    }

    .position__search{
        width: 100%;
    }
    .position__search input {
        width: 100%;
    }
    .position__sorting{
        width: 100%;
        margin-top: 20px;
        justify-content: space-between;
    }
    .sort-by-word{
        flex-wrap: wrap;
    }
    .sort-by-word__item{
        margin: 0 15px 10px;
    }
    .sort-by-card li+li:before {
        padding: 0px 9px;
    }
    .sort-by-card{
        flex-wrap: wrap;
    }
    .sort-by-card__item{
        margin-top: 10px;
    }
    .categories {
        flex-direction: column;
    }
    .tabs__list{
        flex-wrap: wrap;
        align-items: start;
    }
    .tabs__item {
        width: 45%;
        margin-bottom: 10px;
    }
    
    .tabs__item:not(:last-child){
        margin-bottom: 10px;
    }
    .collector-user__info-wrapper {
        margin-left: 0px;
    }
    .group-list__wrapper {
        width: 45%;
    }
    .catalog-info{
        flex-direction: column;
    }
    .catalog-info__item{
        max-width: 100%;
        margin-bottom: 20px;
    }
    .technology-desc__image{
        width: 100%;
    }
}

@media (max-width: 575px) {
    .container {
        width: 90%;
    }
    .modal{
        width: 95%;
    }
    .authorization-google{
        font-size: 12px;
    }
    .add-photo {
        width: 100%;
    }
    .header-top__wrapper{
        display: none;
    }
    .tabs__item {
        width: 100%;
    }
    .burger{
        margin-left: auto;
    }
    .footer-top{
        flex-direction: column;
    }
    .footer-top__menu{
        margin-top: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .footer-top__menu-item:not(:last-child){
        margin-right: 20px;
    }

    .add-photo__input {
        width: 120px;
        height: 120px;
    }
    
    .footer-top__menu-item{
        margin: 0 20px 20px;
    }
    .footer-bottom{
        flex-direction: column  ;
    }

    .footer-bottom__politics{
        margin-top: 20px;
    }

    .error-code {
        font-size: 150px;
    }

    .error-code::before {
        font-size: 125px;
    }

    .page__content-center {
        width: 100%;
    }

    .page__text_short {
        width: 100%;
    }
    .page__title{
        width: 100%;
        font-size: 26px;
    }

    .page__btns{
        flex-direction: column;
    }

    .page__btn:not(:last-child){
        margin-right: 0;
        margin-bottom: 20px;
    }
    .position__sorting{
        flex-direction: column;
        align-items: flex-start;
    }
    .dropdown__select{
        width: 100%;
    }

    .position__sort-drop{
        width: 100%;
        margin-top: 10px;
    }

    .collector-user__avatar {
        margin: 0 auto 20px;
    }

    .collector-user__info-wrapper{
        flex-direction: column;
    }

    .input-code{
        width: 100%;
    }

    .page__form-table-value{
        display: none;
    }

    .page__form-table-input::before{
        content: attr(data-header);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.29em;
        color: #29231B;
        display: block;
        margin-bottom: 10px;
    }

    .page__form-table{
        width: 100%;
    }

    .page__form-table-input input{
        width: 100%;
    }
    .group-list__wrapper {
        width: 100%;
    }
    .products {
        flex-wrap: nowrap;
    }
    .products{
        flex-direction: column;
        align-items: center;
    }
    .comment-last__item {
        flex-direction: column;
    }
    
    .comment-last__wrapper{
        order: 1;
    }
    
    .comment-last__img{
        width: 204px;
        height: 130px;
        object-fit: contain;
        margin: 0 auto 10px;
    }

    .comment-last__author{
        margin: 0 auto 20px;
    }
    .product__frequencies-image{
        width: 100%;
        height: auto;
    }
    
}