{% load static %}
{% load i18n %}
<footer class="footer" id="footer">
    <div class="container">
        <div class="footer-top">
            <a href="#" class="logo logo_footer">
                <img src="{% static 'img/logo.jpg' %}" alt="TapeCollector">
            </a>
            <ul class="footer-top__menu">
                <li class="footer-top__menu-item">
                    {% comment %}Translators: Footer / О сайте{% endcomment %}
                    <a href="#">{% translate "About" %}</a>
                </li>
                <li class="footer-top__menu-item">
                    {% comment %}Translators: Footer / Поддержка {% endcomment %}
                    <a href="#">{% translate "Support" %}</a>
                </li>
                <li class="footer-top__menu-item">
                    {% comment %}Translators: Footer / Условия обслуживания{% endcomment %}
                    <a href="#">{% translate "Terms & Conditions" %}</a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p class="footer-bottom__credits">Copyright © Tape Collector 2022</p>
            {% comment %}Translators: Footer / Политика Конфиденциальности<{% endcomment %}
            <a href="#" class="footer-bottom__politics">{% translate "Privacy Statement" %}</a>
        </div>
    </div>
</footer>