{% load static %}
<footer class="footer" id="footer">
    <div class="container">
        <div class="footer-top">
            <a href="#" class="logo logo_footer">
                <img src="{% static 'img/logo.jpg' %}" alt="TapeCollector">
            </a>
            <ul class="footer-top__menu">
                <li class="footer-top__menu-item">
                    <a href="#">О сайте</a>
                </li>
                <li class="footer-top__menu-item">
                    <a href="#">Поддержка</a>
                </li>
                <li class="footer-top__menu-item">
                    <a href="#">Условия обслуживания</a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p class="footer-bottom__credits">Copyright © Tape Collector 2022</p>
            <a href="#" class="footer-bottom__politics">Политика Конфиденциальности</a>
        </div>
    </div>
</footer>