{% load static socialaccount %}
{% load i18n %}
<!-- Modal -->
<div class="modal" id="loginModal">
    <div class="modal__wrapper">
        <img src="{% static 'img/close-icon.svg' %}" alt="" class="modal__close">
        {% comment %}Translators: Modal / Войти или создать профиль {% endcomment %}
        <h1 class="modal__title">{% translate "Log in or create account" %}</h1>
        {% comment %}Translators: Modal / Войти с помощью Google{% endcomment %}
        <a href="/accounts/google/login/" class="authorization-google">{% translate "Log in with Google" %}</a>
        {% comment %}Translators: Modal / или{% endcomment %}
        <p class="modal__replace">{% translate "or" %}</p>
        <form action="{% url 'users:login' %}" class="modal__form" method="post">
            {% csrf_token %}
            {% comment %}Translators: Modal / Email{% endcomment %}
            <input type="text" name="username" class="input-cust modal__input" placeholder="{% translate "Email" %}">
            {% comment %}Translators: Modal / Пароль {% endcomment %}
            <input type="password" name="password" class="input-cust modal__input" placeholder="{% translate "Password" %}">
            {% comment %}Translators: Modal / Забыли пароль?{% endcomment %}
            <p class="modal__not-pass">{% translate "Forgot password?" %}</p>
            {% comment %}Translators: Modal / Войти{% endcomment %}
            <button type="submit" class="btn modal__btn btn_fill">{% translate "Log in" %}</button>
        </form>
        <div class="modal__wrapper-block">
            {% comment %}Translators: Modal / Еще нет аккаунта?{% endcomment %}
            <p class="modal__text">{% translate "Don't have an account?" %}</p>
            {% comment %}Translators: Modal / Зарегистрируйтесь.{% endcomment %}
            <a href="#" class="modal__login header-top__btn-registration btn-modal" data-modal="regModal">{% translate "Sign up" %}</a>
        </div>
    </div>
</div>
<!--  -->
<div class="modal" id="regModal">
    <div class="modal__wrapper">
        <img src="{% static 'img/close-icon.svg' %}" alt="" class="modal__close">
        {% comment %}Translators: Modal / Регистрация{% endcomment %}
        <h1 class="modal__title">{% translate "Create Account" %}</h1>
        {% comment %}Translators: Modal / Пожалуйста, введите вашу электронную почту ниже и мы отправим на нее
            ссылку для создания нового аккаунта. {% endcomment %}
        <p class="modal__text modal__text_indent ">{% translate "Please enter your email below and we will send a link to create a new account." %}</p>
        {% comment %}Translators: Modal / Войти с помощью Google{% endcomment %}
        <a href="{% provider_login_url 'google' %}" class="authorization-google">{% translate "Log in with Google" %}</a>
        {% comment %}Translators: Modal / или{% endcomment %}
        <p class="modal__replace">{% translate "or" %}</p>
        <form class="modal__form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {% comment %}Translators: Modal / Email{% endcomment %}
            <input type="text" name="email" class="input-cust modal__input" placeholder="{% translate "Email" %}">
            {% comment %}Translators: Modal / Username{% endcomment %}
            <input type="text" name="username" class="input-cust modal__input" placeholder="{% translate "Username" %}">
            {% comment %}Translators: Modal / Password{% endcomment %}
            <input type="password" name="password1" class="input-cust modal__input" placeholder="{% translate "Password" %}">
            {% comment %}Translators: Modal / Password repeat{% endcomment %}
            <input type="password" name="password2" class="input-cust modal__input" placeholder="{% translate "Password repeat" %}">
            {% comment %}Translators: Modal / Подтвердить{% endcomment %}
            <button type="submit" class="btn modal__btn btn_fill">{% translate "Confirm" %}</button>
        </form>
        <div class="modal__wrapper-block">
            {% comment %}Translators: Modal / Уже есть аккаунт?{% endcomment %}
            <p class="modal__text">{% translate "Already have an account?" %}</p>
            {% comment %}Translators: Modal / Войдите{% endcomment %}
            <a href="#" class="modal__login header-top__btn-registration btn-modal" data-modal="loginModal">{% translate "Log in" %}</a>
        </div>
    </div>
</div>
<!--  -->