{% load static socialaccount %}
{% load i18n %}
<!-- Modal -->
<div class="modal" id="loginModal">
    <div class="modal__wrapper">
        <img src="{% static 'img/close-icon.svg' %}" alt="" class="modal__close">
        {% comment %}Translators: Modal / Войти или создать профиль {% endcomment %}
        <h1 class="modal__title">{% translate "Log in or create account" %}</h1>
        {% comment %}Translators: Modal / Войти с помощью Google{% endcomment %}
        <a href="/accounts/google/login/" class="authorization-google">{% translate "Log in with Google" %}</a>
        {% comment %}Translators: Modal / или{% endcomment %}
        <p class="modal__replace">{% translate "or" %}</p>
        <form action="{% url 'users:login' %}" class="modal__form" method="post">
            {% csrf_token %}
            {% comment %}Translators: Modal / Email{% endcomment %}
            <input type="text" name="username" class="input-cust modal__input" placeholder="{% translate "Email" %}">
            {% comment %}Translators: Modal / Пароль {% endcomment %}
            <input type="password" name="password" class="input-cust modal__input" placeholder="{% translate "Password" %}">
            {% comment %}Translators: Modal / Забыли пароль?{% endcomment %}
            <p class="modal__not-pass">{% translate "Forgot password?" %}</p>
            {% comment %}Translators: Modal / Войти{% endcomment %}
            <button type="submit" class="btn modal__btn btn_fill">{% translate "Log in" %}</button>
        </form>
        <div class="modal__wrapper-block">
            {% comment %}Translators: Modal / Еще нет аккаунта?{% endcomment %}
            <p class="modal__text">{% translate "Don't have an account?" %}</p>
            {% comment %}Translators: Modal / Зарегистрируйтесь.{% endcomment %}
            <a href="#" class="modal__login header-top__btn-registration btn-modal" data-modal="regModal">{% translate "Sign up" %}</a>
        </div>
    </div>
</div>
<!--  -->
<div class="modal" id="regModal">
    <div class="modal__wrapper">
        <img src="{% static 'img/close-icon.svg' %}" alt="" class="modal__close">
        {% comment %}Translators: Modal / Регистрация{% endcomment %}
        <h1 class="modal__title">{% translate "Create Account" %}</h1>
        {% comment %}Translators: Modal / Пожалуйста, введите вашу электронную почту ниже и мы отправим на нее
            ссылку для создания нового аккаунта. {% endcomment %}
        <p class="modal__text modal__text_indent ">{% translate "Please enter your email below and we will send a link to create a new account." %}</p>
        {% comment %}Translators: Modal / Войти с помощью Google{% endcomment %}
        <a href="{% provider_login_url 'google' %}" class="authorization-google">{% translate "Log in with Google" %}</a>
        {% comment %}Translators: Modal / или{% endcomment %}
        <p class="modal__replace">{% translate "or" %}</p>
        <form class="modal__form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {% comment %}Translators: Modal / Email{% endcomment %}
            <input type="text" name="email" class="input-cust modal__input" placeholder="{% translate "Email" %}">
            {% comment %}Translators: Modal / Username{% endcomment %}
            <input type="text" name="username" class="input-cust modal__input" placeholder="{% translate "Username" %}">
            {% comment %}Translators: Modal / Password{% endcomment %}
            <input type="password" name="password1" class="input-cust modal__input" placeholder="{% translate "Password" %}">
            {% comment %}Translators: Modal / Password repeat{% endcomment %}
            <input type="password" name="password2" class="input-cust modal__input" placeholder="{% translate "Password repeat" %}">
            {% comment %}Translators: Modal / Подтвердить{% endcomment %}
            <button type="submit" class="btn modal__btn btn_fill">{% translate "Confirm" %}</button>
        </form>
        <div class="modal__wrapper-block">
            {% comment %}Translators: Modal / Уже есть аккаунт?{% endcomment %}
            <p class="modal__text">{% translate "Already have an account?" %}</p>
            {% comment %}Translators: Modal / Войдите{% endcomment %}
            <a href="#" class="modal__login header-top__btn-registration btn-modal" data-modal="loginModal">{% translate "Log in" %}</a>
        </div>
    </div>
</div>
<!--  -->
<div class="modal" id="addMyCollection">
    <div class="modal__wrapper">
        <img src="{% static 'img/close-icon.svg' %}" alt="" class="modal__close">
        <h1 class="modal__title">{% translate "Add to My Collection" %}</h1>

        <table class="table-info product__table-info">
            <tr>
                <td style="width: 125px;" class="table-info__name">{% translate "Brand" %}</td>
                <td class="table-info__value">{{ object.brand }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Manufacturer" %}</td>
                <td class="table-info__value">{{ object.manufacturer }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Model" %}</td>
                <td class="table-info__value">{{ object.model }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Series" %}</td>
                <td class="table-info__value">{{ object.series }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Tape length" %}</td>
                <td class="table-info__value">{{ object.tape_length }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Type of cassete" %}</td>
                <td class="table-info__value">{{ object.type }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Release year" %}</td>
                <td class="table-info__value">{{ object.year_release }}</td>
            </tr>
        </table>
        <form action="#" class="modal__form" name="form_add_collection" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form_add_collection.non_form_errors }}
            {{ form_add_collection }}
            <input name="form_name" value="form_add_collection" type="hidden"/>
            <button type="submit" class="btn modal__btn btn_fill">{% translate "Add" %}</button>
        </form>
    </div>
</div>
<!--  -->
<div class="modal" id="removeMyCollection">
    <div class="modal__wrapper">
        <img src="{% static 'img/close-icon.svg' %}" alt="" class="modal__close">
        <h1 class="modal__title">
            {% translate "Remove from My Collection" %}
        </h1>

        <table class="table-info product__table-info">
            <tr>
                <td style="width: 125px;" class="table-info__name">{% translate "Brand" %}</td>
                <td class="table-info__value">{{ object.brand }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Manufacturer" %}</td>
                <td class="table-info__value">{{ object.manufacturer }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Model" %}</td>
                <td class="table-info__value">{{ object.model }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Series" %}</td>
                <td class="table-info__value">{{ object.series }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Tape length" %}</td>
                <td class="table-info__value">{{ object.tape_length }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Type of cassete" %}</td>
                <td class="table-info__value">{{ object.type }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Release year" %}</td>
                <td class="table-info__value">{{ object.year_release }}</td>
            </tr>
        </table>
        <form action="#" class="modal__form" name="form_remove_collection" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form_remove_list_collection.non_form_errors }}
            {{ form_remove_list_collection }}
            <input name="form_name" value="form_remove_collection" type="hidden"/>
            <button type="submit" class="btn modal__btn btn_fill">{% translate "Remove" %}</button>
        </form>
    </div>
</div>
<!--  -->
<div class="modal" id="addWishlist">
    <div class="modal__wrapper">
        <img src="{% static 'img/close-icon.svg' %}" alt="" class="modal__close">
        <h1 class="modal__title">{% translate "Add to Whishlist" %}</h1>

        <table class="table-info product__table-info">
            <tr>
                <td style="width: 125px;" class="table-info__name">{% translate "Brand" %}</td>
                <td class="table-info__value">{{ object.brand }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Manufacturer" %}</td>
                <td class="table-info__value">{{ object.manufacturer }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Model" %}</td>
                <td class="table-info__value">{{ object.model }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Series" %}</td>
                <td class="table-info__value">{{ object.series }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Tape length" %}</td>
                <td class="table-info__value">{{ object.tape_length }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Type of cassete" %}</td>
                <td class="table-info__value">{{ object.type }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Release year" %}</td>
                <td class="table-info__value">{{ object.year_release }}</td>
            </tr>
        </table>
        <form action="#" class="modal__form" name="form_add_wishlist" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input name="form_name" value="form_add_wishlist" type="hidden"/>
            <button type="submit" class="btn modal__btn btn_fill">{% translate "Add" %}</button>
        </form>
    </div>
</div>
<!--  -->
<div class="modal" id="removeWishlist">
    <div class="modal__wrapper">
        <img src="{% static 'img/close-icon.svg' %}" alt="" class="modal__close">
        <h1 class="modal__title">
            {% translate "Remove from Whishlist" %}
        </h1>

        <table class="table-info product__table-info">
            <tr>
                <td style="width: 125px;" class="table-info__name">{% translate "Brand" %}</td>
                <td class="table-info__value">{{ object.brand }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Manufacturer" %}</td>
                <td class="table-info__value">{{ object.manufacturer }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Model" %}</td>
                <td class="table-info__value">{{ object.model }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Series" %}</td>
                <td class="table-info__value">{{ object.series }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Tape length" %}</td>
                <td class="table-info__value">{{ object.tape_length }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Type of cassete" %}</td>
                <td class="table-info__value">{{ object.type }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Release year" %}</td>
                <td class="table-info__value">{{ object.year_release }}</td>
            </tr>
        </table>
        <form action="#" class="modal__form" name="form_remove_wishlist" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input name="form_name" value="form_remove_wishlist" type="hidden"/>
            <button type="submit" class="btn modal__btn btn_fill">{% translate "Remove" %}</button>
        </form>
    </div>
</div>
<!--  -->
<div class="modal" id="addExchange">
    <div class="modal__wrapper">
        <img src="{% static 'img/close-icon.svg' %}" alt="" class="modal__close">
        <h1 class="modal__title">{% translate "Add to Exchange" %}</h1>
        {% if is_in_collection %}
            <table class="table-info product__table-info">
                <tr>
                    <td style="width: 125px;" class="table-info__name">{% translate "Brand" %}</td>
                    <td class="table-info__value">{{ object.brand }}</td>
                </tr>
                <tr>
                    <td class="table-info__name">{% translate "Manufacturer" %}</td>
                    <td class="table-info__value">{{ object.manufacturer }}</td>
                </tr>
                <tr>
                    <td class="table-info__name">{% translate "Model" %}</td>
                    <td class="table-info__value">{{ object.model }}</td>
                </tr>
                <tr>
                    <td class="table-info__name">{% translate "Series" %}</td>
                    <td class="table-info__value">{{ object.series }}</td>
                </tr>
                <tr>
                    <td class="table-info__name">{% translate "Tape length" %}</td>
                    <td class="table-info__value">{{ object.tape_length }}</td>
                </tr>
                <tr>
                    <td class="table-info__name">{% translate "Type of cassete" %}</td>
                    <td class="table-info__value">{{ object.type }}</td>
                </tr>
                <tr>
                    <td class="table-info__name">{% translate "Release year" %}</td>
                    <td class="table-info__value">{{ object.year_release }}</td>
                </tr>
            </table>
            <form action="#" class="modal__form" name="form_add_exchange" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form_add_exchange.non_form_errors }}
                {{ form_add_exchange }}
                <input name="form_name" value="form_add_exchange" type="hidden"/>
                <button type="submit" class="btn modal__btn btn_fill">{% translate "Add" %}</button>
            </form>
        {% else %}
            {% translate "Add cassette to collection to make it available for sale or exchange!" %}
        {% endif %}
    </div>
</div>
<!--  -->
<div class="modal" id="removeExchange">
    <div class="modal__wrapper">
        <img src="{% static 'img/close-icon.svg' %}" alt="" class="modal__close">
        <h1 class="modal__title">
            {% translate "Remove from Exchange" %}
        </h1>
        <table class="table-info product__table-info">
            <tr>
                <td style="width: 125px;" class="table-info__name">{% translate "Brand" %}</td>
                <td class="table-info__value">{{ object.brand }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Manufacturer" %}</td>
                <td class="table-info__value">{{ object.manufacturer }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Model" %}</td>
                <td class="table-info__value">{{ object.model }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Series" %}</td>
                <td class="table-info__value">{{ object.series }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Tape length" %}</td>
                <td class="table-info__value">{{ object.tape_length }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Type of cassete" %}</td>
                <td class="table-info__value">{{ object.type }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Release year" %}</td>
                <td class="table-info__value">{{ object.year_release }}</td>
            </tr>
        </table>
        <form action="#" class="modal__form" name="form_remove_exchange" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form_remove_exchange.non_form_errors }}
            {{ form_remove_exchange }}
            <input name="form_name" value="form_remove_exchange" type="hidden"/>
            <button type="submit" class="btn modal__btn btn_fill">{% translate "Remove" %}</button>
        </form>

    </div>
</div>
<!--  -->
<div class="modal" id="addSell">
    <div class="modal__wrapper">
        <img src="{% static 'img/close-icon.svg' %}" alt="" class="modal__close">
        <h1 class="modal__title">{% translate "Add to Sell" %}</h1>
        {% if is_in_collection %}
            <table class="table-info product__table-info">
                <tr>
                    <td style="width: 125px;" class="table-info__name">{% translate "Brand" %}</td>
                    <td class="table-info__value">{{ object.brand }}</td>
                </tr>
                <tr>
                    <td class="table-info__name">{% translate "Manufacturer" %}</td>
                    <td class="table-info__value">{{ object.manufacturer }}</td>
                </tr>
                <tr>
                    <td class="table-info__name">{% translate "Model" %}</td>
                    <td class="table-info__value">{{ object.model }}</td>
                </tr>
                <tr>
                    <td class="table-info__name">{% translate "Series" %}</td>
                    <td class="table-info__value">{{ object.series }}</td>
                </tr>
                <tr>
                    <td class="table-info__name">{% translate "Tape length" %}</td>
                    <td class="table-info__value">{{ object.tape_length }}</td>
                </tr>
                <tr>
                    <td class="table-info__name">{% translate "Type of cassete" %}</td>
                    <td class="table-info__value">{{ object.type }}</td>
                </tr>
                <tr>
                    <td class="table-info__name">{% translate "Release year" %}</td>
                    <td class="table-info__value">{{ object.year_release }}</td>
                </tr>
            </table>
            <form action="#" class="modal__form" name="form_add_sell" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form_add_sell.non_form_errors }}
                {{ form_add_sell }}
                <input name="form_name" value="form_add_sell" type="hidden"/>
                <button type="submit" class="btn modal__btn btn_fill">{% translate "Add" %}</button>
            </form>
        {% else %}
            {% translate "Add cassette to collection to make it available for sale or exchange!" %}
        {% endif %}
    </div>
</div>
<!--  -->
<div class="modal" id="removeSell">
    <div class="modal__wrapper">
        <img src="{% static 'img/close-icon.svg' %}" alt="" class="modal__close">
        <h1 class="modal__title">
            {% translate "Remove from Sell" %}
        </h1>
        <table class="table-info product__table-info">
            <tr>
                <td style="width: 125px;" class="table-info__name">{% translate "Brand" %}</td>
                <td class="table-info__value">{{ object.brand }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Manufacturer" %}</td>
                <td class="table-info__value">{{ object.manufacturer }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Model" %}</td>
                <td class="table-info__value">{{ object.model }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Series" %}</td>
                <td class="table-info__value">{{ object.series }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Tape length" %}</td>
                <td class="table-info__value">{{ object.tape_length }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Type of cassete" %}</td>
                <td class="table-info__value">{{ object.type }}</td>
            </tr>
            <tr>
                <td class="table-info__name">{% translate "Release year" %}</td>
                <td class="table-info__value">{{ object.year_release }}</td>
            </tr>
        </table>
        <form action="#" class="modal__form" name="form_remove_sell" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form_remove_sell.non_form_errors }}
            {{ form_remove_sell }}
            <input name="form_name" value="form_remove_sell" type="hidden"/>
            <button type="submit" class="btn modal__btn btn_fill">{% translate "Remove" %}</button>
        </form>
    </div>
</div>