<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Кассеты</title>
</head>
<body>
    <!-- Modal -->
    <div class="modal" id="loginModal">
        <div class="modal__wrapper">
			<img src="../static/img/close-icon.svg" alt="" class="modal__close">
			<h1 class="modal__title">Войти или создать профиль</h1>
			<button class="authorization-google">Войти с помощью Google</button>
			<p class="modal__replace">или</p>
			<form action="" class="modal__form">
				<input type="text" class="input-cust modal__input" placeholder="Логин">
				<input type="password" class="input-cust modal__input" placeholder="Пароль">
				<p class="modal__not-pass">Забыли пароль?</p>
				<button type="submit" class="btn modal__btn btn_fill">Войти</button>
			</form>
			<div class="modal__wrapper-block">
				<p class="modal__text">Еще нет аккаунта?</p>
				<a href="#" class="modal__login">Зарегестрируйтесь.</a>
			</div>
		</div>
    </div>

    <!--  -->

    <div class="modal" id="regModal">
        <div class="modal__wrapper">
            <img src="../static/img/close-icon.svg" alt="" class="modal__close">
            <h1 class="modal__title">Регистрация</h1>
            <p class="modal__text modal__text_indent ">Пожалуйста, введите вашу электронную почту ниже и мы отправим на нее ссылку для создания нового аккаунта.</p>
            <button class="authorization-google">Войти с помощью Google</button>
            <p class="modal__replace">или</p>
            <form action="" class="modal__form">
                <input type="text" class="input-cust modal__input" placeholder="Логин">
                <button type="submit" class="btn modal__btn btn_fill">Подтвердить</button>
            </form>
            <div class="modal__wrapper-block">
                <p class="modal__text">Уже есть аккаунт?</p>
                <a href="#" class="modal__login">Войдите.</a>
            </div>
        </div>
    </div>

    <!--  -->
    <header class="header" id="header">
        <div class="header__wrapper">
            <div class="container">
                <div class="header-top">
                    <a href="#" class="logo">
                        <img src="../static/img/logo.jpg" alt="TapeCollector">
                    </a>
                    <div class="header-top__search">
                        <input type="text" placeholder="Поиск">
                    </div>
                    <div class="header-top__wrapper">
                        <div class="header-top__change-lang dropdown">
                            <button class="header-top__lang dropdown__select">English</button>
                            <ul class="dropdown__options header-top__options">
                                <li data-value="По бренду" class="active">English</li>
                                <li data-value="По бренду">Русский</li>
                                <li data-value="По бренду">...</li>
                            </ul>
                        </div>
                        <div class="header-top__profile">
                            <button type="button" class="btn btn_ghost header-top__btn-login btn-modal" data-modal="loginModal">Вход</button>
                            <button type="button" class="btn btn_fill header-top__btn-registration btn-modal" data-modal="regModal">Регистрация</button>
                        </div>
                    </div>
                    <button class="burger">
                        <span></span>
                    </button>
                </div>
    
                <div class="header-brands">
                    <ul class="header-brands__audio-cassette">
                        <li class="header-brands__item">
                            <a href="#" class="header-brands__link">
                                <img src="../static/img/Audio-cassette/compact-cassette.png" alt="">
                            </a>
                        </li>
                        <li class="header-brands__item">
                            <a href="#" class="header-brands__link">
                                <img src="../static/img/Audio-cassette/8-track.png" alt="">
                            </a>
                        </li>
                        <li class="header-brands__item">
                            <a href="#" class="header-brands__link">
                                <img src="../static/img/Audio-cassette/reel.png" alt="">
                            </a>
                        </li>
                        <li class="header-brands__item">
                            <a href="#" class="header-brands__link">
                                <img src="../static/img/Audio-cassette/dcc.png" alt="">
                            </a>
                        </li>
                        <li class="header-brands__item">
                            <a href="#" class="header-brands__link">
                                <img src="../static/img/Audio-cassette/mini-cassette.png" alt="">
                            </a>
                        </li>
                        <li class="header-brands__item">
                            <a href="#" class="header-brands__link">
                                <img src="../static/img/Audio-cassette/microcassette.png" alt="">
                            </a>
                        </li>
                        <li class="header-brands__item">
                            <a href="#" class="header-brands__link">
                                <img src="../static/img/Audio-cassette/elcaset.png" alt="">
                            </a>
                        </li>
                    </ul>
                    <span class="header-brands__line"></span>
                    <ul class="header-brands__video-cassette">
                        <li class="header-brands__item">
                            <a href="#" class="header-brands__link">
                                <img src="../static/img/Video-cassette/vhs.png" alt="">
                            </a>
                        </li>
                        <li class="header-brands__item">
                            <a href="#" class="header-brands__link">
                                <img src="../static/img/Video-cassette/vhs-c.png" alt="">
                            </a>
                        </li>
                        <li class="header-brands__item">
                            <a href="#" class="header-brands__link">
                                <img src="../static/img/Video-cassette/hi-8.png" alt="">
                            </a>
                        </li>
                        <li class="header-brands__item">
                            <a href="#" class="header-brands__link">
                                <img src="../static/img/Video-cassette/digital-8.png" alt="">
                            </a>
                        </li>
                        <li class="header-brands__item">
                            <a href="#" class="header-brands__link">
                                <img src="../static/img/Video-cassette/betamax.png" alt="">
                            </a>
                        </li>
                        <li class="header-brands__item">
                            <a href="#" class="header-brands__link">
                                <img src="../static/img/Video-cassette/mini-dv.png" alt="">
                            </a>
                        </li>
                        <li class="header-brands__item">
                            <a href="#" class="header-brands__link">
                                <img src="../static/img/Video-cassette/reel.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>           
        <nav class="header-menu">
            <div class="container">
                <div class="header-menu__wrapper">
                    <ul class="header-menu__list">
                        <li class="header-menu__item">
                            <a href="catalog/category-list.html">Каталог</a>
                        </li>
                        <li class="header-menu__item">
                            <a href="catalog/brand-list.html">Бренды</a>
                        </li>
                        <li class="header-menu__item">
                            <a href="catalog/technologies.html">Технологии</a>
                        </li>
                        <li class="header-menu__item">
                            <a href="users/collectors.html">Коллекционеры</a>
                        </li>
                        <li class="header-menu__item">
                            <a href="my-list-not-reg.html">Мои списки</a>
                        </li>
                        <li class="header-menu__item">
                            <a href="#">Дополнительный каталог</a>
                        </li>
                    </ul>
                    <ul class="header-menu__list">
                        <li class="header-menu__item header-menu__item_left">
                            <a href="help.html">Помощь</a>
                        </li>
                        <li class="header-menu__item header-menu__item_left">
                            <a href="#">Мерч</a>
                        </li>
                        <li class="header-menu__item header-menu__item_left">
                            <a href="support.html">Поддержка</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="product-series section_breadcrumb" id="product-series">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb__item">
                    <a href="#">Главная</a>
                </li>
                <li class="breadcrumb__item">
                    <a href="#">Каталог</a>
                </li>
                <li class="breadcrumb__item">
                    <a href="#">Компакт-кассеты</a>
                </li>
                <li class="breadcrumb__item">
                    <a href="#">AGFA</a>
                </li>
                <li class="breadcrumb__item">Super High Fidelity</li>
            </ul>
            <div class="page__head">
                <h2 class="page__title categories-page__title">Super High Fidelity</h2>
                <p class="page__descriptions">Легендарный немецкий концерн с кассетным производством в Леверкузене. В истории кассетной индустрии ФРГ занимал почетное второе место после BASF. Почему – попробую раскрыть в данной теме. В общем, начинал с производства фотоаппаратов и красок для тканей, а во время Первой мировой войны штамповал фильтры</p>
            </div>
            <div class="position categories__position">
                <ul class="sort-by-card">
                    <li class="sort-by-card__item">
                        <a href="#">Тип ленты</a>
                    </li>
                    <li class="sort-by-card__item">
                        <a href="#">Super High Fidelity</a>
                    </li>
                    <li class="sort-by-card__item">
                        <a href="#">Длительность</a>
                    </li>
                    <li class="sort-by-card__item">
                        <a href="#">Год</a>
                    </li>
                    <li class="sort-by-card__item">
                        <a href="#">Страна</a>
                    </li>
                    <li class="sort-by-card__item">
                        <a href="#">Рынок</a>
                    </li>
                    <li class="sort-by-card__item">
                        <a href="#">Информация</a>
                    </li>
                </ul>
                <table class="table-cust">
                    <tr>
                        <th style="width: 10%;"></th>
                        <th style="width: 10%;">Бренд</th>
                        <th>Модель</th>
                        <th>Тип ленты</th>
                        <th>Серия</th>
                        <th>Длительность</th>
                        <th style="width: 6%;">Год</th>
                        <th>Страна-производитель</th>
                        <th style="width: 15%;">Рынок</th>
                        <th>Информация</th>
                    </tr>
                    <tr>
                        <td><img src="../static/img/cassette-4.jpg" alt="" class="product-img"></td>
                        <td class="table-cust__medium">AGFA</td>
                        <td>MS 400</td>
                        <td>Тип I</td>
                        <td>Super High Fidelity</td>
                        <td>С - 90</td>
                        <td>1973</td>
                        <td>Австралия</td>
                        <td>Новый Южный Уэльс</td>
                        <td>
                            <p class="info correct">Требуется уточнение</p>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../static/img/cassette-4.jpg" alt="" class="product-img"></td>
                        <td class="table-cust__medium">AGFA</td>
                        <td>MS 500</td>
                        <td>Тип I</td>
                        <td>Super High Fidelity</td>
                        <td>С - 90</td>
                        <td>1973</td>
                        <td>Австралия</td>
                        <td>Новый Южный Уэльс</td>
                        <td>
                            <p class="info not-info">Требуется информация</p>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../static/img/cassette-4.jpg" alt="" class="product-img"></td>
                        <td class="table-cust__medium">AGFA</td>
                        <td>MS 400</td>
                        <td>Тип I</td>
                        <td>Super High Fidelity</td>
                        <td>С - 90</td>
                        <td>1973</td>
                        <td>Австралия</td>
                        <td>Новый Южный Уэльс</td>
                        <td>
                            <p class="info correct">Требуется уточнение</p>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../static/img/cassette-4.jpg" alt="" class="product-img"></td>
                        <td class="table-cust__medium">AGFA</td>
                        <td>MS 500</td>
                        <td>Тип I</td>
                        <td>Super High Fidelity</td>
                        <td>С - 90</td>
                        <td>1973</td>
                        <td>Австралия</td>
                        <td>Новый Южный Уэльс</td>
                        <td>
                            <p class="info not-info">Требуется информация</p>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../static/img/cassette-4.jpg" alt="" class="product-img"></td>
                        <td class="table-cust__medium">AGFA</td>
                        <td>MS 500</td>
                        <td>Тип I</td>
                        <td>Super High Fidelity</td>
                        <td>С - 90</td>
                        <td>1973</td>
                        <td>Австралия</td>
                        <td>Новый Южный Уэльс</td>
                        <td>
                            <p class="info not-info">Требуется информация</p>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../static/img/cassette-4.jpg" alt="" class="product-img"></td>
                        <td class="table-cust__medium">AGFA</td>
                        <td>MS 500</td>
                        <td>Тип I</td>
                        <td>Super High Fidelity</td>
                        <td>С - 90</td>
                        <td>1973</td>
                        <td>Австралия</td>
                        <td>Новый Южный Уэльс</td>
                        <td>
                            <p class="info not-info">Требуется информация</p>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../static/img/cassette-4.jpg" alt="" class="product-img"></td>
                        <td class="table-cust__medium">AGFA</td>
                        <td>MS 500</td>
                        <td>Тип I</td>
                        <td>Super High Fidelity</td>
                        <td>С - 90</td>
                        <td>1973</td>
                        <td>Австралия</td>
                        <td>Новый Южный Уэльс</td>
                        <td>
                            <p class="info data">Полные данные</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <footer class="footer" id="footer">
        <div class="container">
            <div class="footer-top">
                <a href="#" class="logo logo_footer">
                    <img src="../static/img/logo.jpg" alt="TapeCollector">
                </a>
                <ul class="footer-top__menu">
                    <li class="footer-top__menu-item">
                        <a href="#">О сайте</a>
                    </li>
                    <li class="footer-top__menu-item">
                        <a href="#">Поддержка</a>
                    </li>
                    <li class="footer-top__menu-item">
                        <a href="#">Условия обслуживания</a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <p class="footer-bottom__credits">Copyright © Tape Collector 2022</p>
                <a href="#" class="footer-bottom__politics">Политика Конфиденциальности</a>
            </div>
        </div>
    </footer>
<script src="js/add.js"></script> 
    <script src="../static/js/drop-and-drag.js"></script>
    <script src="../static/js/modal.js"></script>
    <script src="../static/js/burger.js"></script>
    <script src="../static/js/dropdown.js"></script>
</body>
</html>
