<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Кассеты</title>
</head>
<body>
   <!-- Modal -->
   <div class="modal" id="loginModal">
    <div class="modal__wrapper">
        <img src="../static/img/close-icon.svg" alt="" class="modal__close">
        <h1 class="modal__title">Войти или создать профиль</h1>
        <button class="authorization-google">Войти с помощью Google</button>
        <p class="modal__replace">или</p>
        <form action="" class="modal__form">
            <input type="text" class="input-cust modal__input" placeholder="Логин">
            <input type="password" class="input-cust modal__input" placeholder="Пароль">
            <p class="modal__not-pass">Забыли пароль?</p>
            <button type="submit" class="btn modal__btn btn_fill">Войти</button>
        </form>
        <div class="modal__wrapper-block">
            <p class="modal__text">Еще нет аккаунта?</p>
            <a href="#" class="modal__login">Зарегестрируйтесь.</a>
        </div>
    </div>
</div>

<!--  -->

<div class="modal" id="regModal">
    <div class="modal__wrapper">
        <img src="../static/img/close-icon.svg" alt="" class="modal__close">
        <h1 class="modal__title">Регистрация</h1>
        <p class="modal__text modal__text_indent ">Пожалуйста, введите вашу электронную почту ниже и мы отправим на нее ссылку для создания нового аккаунта.</p>
        <button class="authorization-google">Войти с помощью Google</button>
        <p class="modal__replace">или</p>
        <form action="" class="modal__form">
            <input type="text" class="input-cust modal__input" placeholder="Логин">
            <button type="submit" class="btn modal__btn btn_fill">Подтвердить</button>
        </form>
        <div class="modal__wrapper-block">
            <p class="modal__text">Уже есть аккаунт?</p>
            <a href="#" class="modal__login">Войдите.</a>
        </div>
    </div>
</div>

<!--  -->
<header class="header" id="header">
    <div class="header__wrapper">
        <div class="container">
            <div class="header-top">
                <a href="#" class="logo">
                    <img src="../static/img/logo.jpg" alt="TapeCollector">
                </a>
                <div class="header-top__search">
                    <input type="text" placeholder="Поиск">
                </div>
                <div class="header-top__wrapper">
                    <div class="header-top__change-lang dropdown">
                        <button class="header-top__lang">English</button>
                    </div>
                    <div class="header-top__profile">
                        <button type="button" class="btn btn_ghost header-top__btn-login btn-modal" data-modal="loginModal">Вход</button>
                        <button type="button" class="btn btn_fill header-top__btn-registration btn-modal" data-modal="regModal">Регистрация</button>
                    </div>
                </div>
                <button class="burger">
                    <span></span>
                </button>
            </div>

            <div class="header-brands">
                <ul class="header-brands__audio-cassette">
                    <li class="header-brands__item">
                        <a href="#" class="header-brands__link">
                            <img src="../static/img/Audio-cassette/compact-cassette.png" alt="">
                        </a>
                    </li>
                    <li class="header-brands__item">
                        <a href="#" class="header-brands__link">
                            <img src="../static/img/Audio-cassette/8-track.png" alt="">
                        </a>
                    </li>
                    <li class="header-brands__item">
                        <a href="#" class="header-brands__link">
                            <img src="../static/img/Audio-cassette/reel.png" alt="">
                        </a>
                    </li>
                    <li class="header-brands__item">
                        <a href="#" class="header-brands__link">
                            <img src="../static/img/Audio-cassette/dcc.png" alt="">
                        </a>
                    </li>
                    <li class="header-brands__item">
                        <a href="#" class="header-brands__link">
                            <img src="../static/img/Audio-cassette/mini-cassette.png" alt="">
                        </a>
                    </li>
                    <li class="header-brands__item">
                        <a href="#" class="header-brands__link">
                            <img src="../static/img/Audio-cassette/microcassette.png" alt="">
                        </a>
                    </li>
                    <li class="header-brands__item">
                        <a href="#" class="header-brands__link">
                            <img src="../static/img/Audio-cassette/elcaset.png" alt="">
                        </a>
                    </li>
                </ul>
                <span class="header-brands__line"></span>
                <ul class="header-brands__video-cassette">
                    <li class="header-brands__item">
                        <a href="#" class="header-brands__link">
                            <img src="../static/img/Video-cassette/vhs.png" alt="">
                        </a>
                    </li>
                    <li class="header-brands__item">
                        <a href="#" class="header-brands__link">
                            <img src="../static/img/Video-cassette/vhs-c.png" alt="">
                        </a>
                    </li>
                    <li class="header-brands__item">
                        <a href="#" class="header-brands__link">
                            <img src="../static/img/Video-cassette/hi-8.png" alt="">
                        </a>
                    </li>
                    <li class="header-brands__item">
                        <a href="#" class="header-brands__link">
                            <img src="../static/img/Video-cassette/digital-8.png" alt="">
                        </a>
                    </li>
                    <li class="header-brands__item">
                        <a href="#" class="header-brands__link">
                            <img src="../static/img/Video-cassette/betamax.png" alt="">
                        </a>
                    </li>
                    <li class="header-brands__item">
                        <a href="#" class="header-brands__link">
                            <img src="../static/img/Video-cassette/mini-dv.png" alt="">
                        </a>
                    </li>
                    <li class="header-brands__item">
                        <a href="#" class="header-brands__link">
                            <img src="../static/img/Video-cassette/reel.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>           
    <nav class="header-menu">
        <div class="container">
            <div class="header-menu__wrapper">
                <ul class="header-menu__list">
                    <li class="header-menu__item">
                        <a href="catalog/category-list.html">Каталог</a>
                    </li>
                    <li class="header-menu__item">
                        <a href="catalog/brand-list.html">Бренды</a>
                    </li>
                    <li class="header-menu__item">
                        <a href="catalog/technologies.html">Технологии</a>
                    </li>
                    <li class="header-menu__item">
                        <a href="users/collectors.html">Коллекционеры</a>
                    </li>
                    <li class="header-menu__item">
                        <a href="my-list-not-reg.html">Мои списки</a>
                    </li>
                    <li class="header-menu__item">
                        <a href="#">Дополнительный каталог</a>
                    </li>
                </ul>
                <ul class="header-menu__list">
                    <li class="header-menu__item header-menu__item_left">
                        <a href="help.html">Помощь</a>
                    </li>
                    <li class="header-menu__item header-menu__item_left">
                        <a href="#">Мерч</a>
                    </li>
                    <li class="header-menu__item header-menu__item_left">
                        <a href="support.html">Поддержка</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

   <section class="help-page" id="help-page">
       <div class="container">
           <ul class="breadcrumb">
                <li class="breadcrumb__item">
                    <a href="#">Главная</a>
                </li>
                <li class="breadcrumb__item">
                    <a href="#">Помощь</a>
                </li>
                <li class="breadcrumb__item">Оформить подписку</li>
            </ul>
            <div class="page__head">
                <h1 class="page__title help-page__title">Оформить подписку</h1>
            </div>
            <div class="help-page__content page__content">
                <p class="page__text help-page__text">Hello, <span class="bold">Guillermo Baeza</span>. By using this free trial, you get the opportunity to see whether <a class="link_underline">Premium Membership</a> is right for you. We want to make sure you get the maximum benefit out of it.</p>
                <h4 class="help-page__subtitle page__subtitle">How to make the most of this trial?</h4>
                <ul class="help-page__list page__list">
                    <li class="help-page__item page__text page__item">Make sure you have enough items marked on <a class="link_underline">your lists</a>. Just a few are not enough to try all the offered features. You can use the <a class="link_underline">Quick Mark</a> feature to easily add and remove large quantities of items to your lists.</li>
                    <li class="help-page__item page__text page__item">Enable and add some <a class="link_underline">Private Item Notes</a> to your items.</li>
                    <li class="help-page__item page__text page__item">Check the suggestions made by our unique <a class="link_underline">Best Matches</a> feature every day. With each different member of Colnect, you can try our special <a class="link_underline">Auto-Matching</a> feature to learn what items you may trade.</li>
                    <li class="help-page__item page__text page__item">Create some <a class="link_underline">Custom Personal Lists</a> to easily manage different parts of your collection or swaps.</li>
                    <li class="help-page__item page__text page__item"><a class="link_underline">Export a List</a> if you want to access information in a spreadsheet editor offline.</li>
                    <li class="help-page__item page__text page__item">Check out who <a class="link_underline">viewed your profile</a>.</li>
                </ul>
                <p class="page__text help-page__text">Оптимальный ток подмагничивания для конкретной ленты может отличаться от стандартного тока, установленного на заводе; это отклонение может быть несущественным в простых системах, но совершенно неприемлемо при использовании компандерных систем шумоподавления (Dolby NR и аналоги). Превышение тока подмагничивания сверх оптимального «заваливает» верхние частоты и сужает динамический диапазон, и наоборот; компандер Dolby нелинейно усиливает эти огрехи, порождая «модуляцию» АЧХ воспроизведения уровнем сигнала».</p>
                <a href="#" class="btn btn_fill help-page_btn">Оформить подписку сейчас</a>
                <a href="#" class="help-page__link-more more">Назад к списку тем</a>
            </div>
            
       </div>
   </section>

    <footer class="footer" id="footer">
        <div class="container">
            <div class="footer-top">
                <a href="#" class="logo logo_footer">
                    <img src="../static/img/logo.jpg" alt="TapeCollector">
                </a>
                <ul class="footer-top__menu">
                    <li class="footer-top__menu-item">
                        <a href="#">О сайте</a>
                    </li>
                    <li class="footer-top__menu-item">
                        <a href="#">Поддержка</a>
                    </li>
                    <li class="footer-top__menu-item">
                        <a href="#">Условия обслуживания</a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <p class="footer-bottom__credits">Copyright © Tape Collector 2022</p>
                <a href="#" class="footer-bottom__politics">Политика Конфиденциальности</a>
            </div>
        </div>
    </footer>
<script src="js/add.js"></script> 
    <script src="../static/js/drop-and-drag.js"></script>
    <script src="../static/js/modal.js"></script>
    <script src="../static/js/burger.js"></script>
    <script src="../static/js/dropdown.js"></script>
</body>
</html>