{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <section class="collector-user section_breadcrumb" id="collector-user">
        <div class="container">
            <div class="collector-user__wrapper">
                <div class="collector-user__list">
                    <h4 class="collector-user__list-title">{% translate "Lists" %} {{ object.first_name }}</h4>
                    <ul class="tabs__list">
                        <li class="tabs__item">
                            <a href="{% url 'lists:collection' collector_id=object.id %}" class="tabs__link">
                                <img src="{% static 'img/collection.svg' %}" alt="" class="tabs__icon">
                                <h4 class="tabs__name">{% translate "Collection" %} </h4>
                                <p class="tabs__count">{{ object.collections.count }}</p>
                            </a>
                        </li>
                        <li class="tabs__item">
                            <a href="{% url 'lists:wishlist' collector_id=object.id %}" class="tabs__link">
                                <img src="{% static 'img/magic-wand-icon.svg' %}" alt="" class="tabs__icon">
                                <h4 class="tabs__name">{% translate "Wishlist" %} </h4>
                                <p class="tabs__count">{{ object.wishlists.count }}</p>
                            </a>
                        </li>
                        <li class="tabs__item">
                            <a href="{% url 'lists:exchange' collector_id=object.id %}" class="tabs__link">
                                <img src="{% static 'img/exchange-icon.svg' %}" alt="" class="tabs__icon">
                                <h4 class="tabs__name">{% translate "Exchange" %}</h4>
                                <p class="tabs__count">{{ object.exchanges.count }}</p>
                            </a>
                        </li>
                        <li class="tabs__item">
                            <a href="{% url 'lists:sale' collector_id=object.id %}" class="tabs__link">
                                <img src="{% static 'img/shopping-icon.svg' %}" alt="" class="tabs__icon">
                                <h4 class="tabs__name">{% translate "Sale" %}</h4>
                                <p class="tabs__count">{{ object.sales.count }}</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="collector-user__info-wrapper">
                    {% if object.image %}
                        <img src="{{ object.image.url }}" alt="{{ object }}" class="collector-user__avatar">
                    {% else %}
                        <img src="{% static 'img/avatar.jpg' %}" alt="{{ object }}" class="collector-user__avatar">
                    {% endif %}
                    <div class="collector-user__info">
                        <div class="collector-user__name">
                            <h3 class="collector-user__fullname premium">{{ object.first_name }} {{ object.last_name }}</h3>
                            <p class="collector-user__nick">[{{ object.username }}]</p>
                        </div>
                        <table class="table-info collector-user__table-info">
                            <tr>
                                <td style="width: 90px;" class="table-info__name collector-user__table-name">{% translate "Rating" %}</td>
                                {% if object.rating %}
                                    <td class="table-info__value collector-user__table-value reyting">{{ object.rating }}</td>
                                {% else %}
                                    <td class="table-info__value collector-user__table-value">-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td class="table-info__name collector-user__table-name">{% translate "Country" %}</td>
                                <td class="table-info__value collector-user__table-value">{{ object.country }}</td>
                            </tr>
                            <tr>
                                <td class="table-info__name collector-user__table-name">{% translate "Market" %}</td>
                                <td class="table-info__value collector-user__table-value ">Локальный</td>
                            </tr>
                            <tr>
                                <td class="table-info__name collector-user__table-name">{% translate "Language" %}</td>
                                <td class="table-info__value collector-user__table-value">{{ object.language }}</td>
                            </tr>
                            <tr>
                                <td class="table-info__name collector-user__table-name">{% translate "Birthday" %}</td>
                                <td class="table-info__value collector-user__table-value">{{ object.born_date }}</td>
                            </tr>
                        </table>
                        <div class="collector-user__about">
                            <h4 class="collector-user__about-title">{% translate "About user" %}</h4>
                            <p class="collector-user__about-text">{{ object.bio }}</p>
                        </div>
                        {% if user.is_authenticated %}
                            <div class="collector-user__note">
                                <div class="collector-user__note-title">{% translate "Add user note" %}</div>
                                <textarea class="textarea-cust collector-user__textarea"></textarea>
                                <button class="btn btn_fill">{% translate "Add" %}</button>
                            </div>
                            <a class="collector-user__complain">{% translate "Complain" %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {#    </section>#}
        {#    <section class="comment-last">#}
        <div class="container">
        {% if not feedback_provided %}
            <div class="settings__block">
                <div class="collector-user__note-title">{% translate "Add feedback for the collector" %}</div>
                {% if user.is_authenticated %}
                    {#                    <p class="product__comments-text">Вы можете помочь улучшить наш каталог, добавив ваш комментарий.</p>#}
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ feedback_form.non_form_errors }}
                        {{ feedback_form.user.as_hidden }}
                        {{ feedback_form.collector.as_hidden }}
                        <table class="table__inputs">
                            <tr>
                                <td class="table__inputs-text settings__text">{{ feedback_form.rating_score.label }} *</td>
                                <td class="table__inputs-value">
                                    {{ feedback_form.rating_score.errors }}{{ feedback_form.rating_score }}
                                </td>
                            </tr>
                            <tr>
                                <td class="table__inputs-text settings__text">{{ feedback_form.feedback.label }} *</td>
                                <td class="table__inputs-value ">
                                    {{ feedback_form.feedback.errors }}{{ feedback_form.feedback }}
                                </td>
                            </tr>
                        </table>
                        <button type="submit" value="Submit" class="product__comments-btn btn btn_fill">Оставить отзыв</button>
                    </form>
                {% else %}
                    <p class="product__comments-text">Войдите или зарегистрируйтесь для того что бы оставить ваш отзыв о коллекционере.</p>
                {% endif %}
            </div>
        {% endif %}
        <div class="collector-user__list-title">{% translate "Last collector's feedbacks" %}</div>
            <ul class="comment-last__list">
                {% for feedback in feedbacks %}
                    <li class="comment-last__item">
                        <div class="comment-last__img collector-user__table-value reyting">{{ feedback.rating_score }}</div>
                        <div class="comment-last__wrapper">
                            <p class="comment-last__text">{{ feedback.feedback }}</p>
                        </div>
                        <div class="comment-last__author">
                            <p class="comment-last__from">{% translate "Feedback from" %}</p>
                            <div class="user ">
                                <img src="{% if feedback.user.image %}{{ feedback.user.image.url }}{% else %}{% static 'img/avatar.jpg' %}{% endif %}" alt="" class="user__avatar">
                                <div class="user__wrapper">
                                    <h2 class="user__name">{{ feedback.user.first_name }} {{ feedback.user.last_name }}</h2>
                                    <p class="user__nick">[{{ feedback.user.username }}]</p>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}