{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <section class="edit-password" id="edit-password">
        <div class="container">
            <div class="page__content-center">
                <h1 class="page__title page__title_center page__title_form">Изменить пароль</h1>
                <p class="page__text page__text_center">Для изменения пароля заполните поля ниже.</p>
                <form action="" class="page__form" method="post">
                    {% csrf_token %}
                    {% if form.errors %}
                        <p class="errornote">
                            {% if form.errors.items|length == 1 %}
                                {% translate "Please correct the error below." %}{% else %}
                                {% translate "Please correct the errors below." %}{% endif %}
                        </p>
                    {% endif %}
                    <p>{% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>

                    <table class="table-info page__form-table">
                        <div class="form-row">
                            {{ form.old_password.errors }}
                            {{ form.old_password.label_tag }}
                        </div>
                        <tr>
                            <td class="page__form-table-value page__form-table-value_middle page__form-table-value_long">
                                Старый пароль
                            </td>
                            <td class="page__form-table-input page__form-table-input_long" data-header="Старый пароль">
                                {{ form.old_password.errors }}
                                {{ form.old_password.label_tag }}
                                <input type="password" class="input-cust" name="old_password" placeholder="Введите старый пароль"
                                       value=""></td>
                        </tr>
                        <tr>
                            <td class="page__form-table-value page__form-table-value_middle page__form-table-value_long">
                                Новый пароль
                            </td>
                            <td class="page__form-table-input page__form-table-input_long" data-header="Новый пароль">
                                {{ form.new_password1.errors }}
                                {{ form.new_password1.label_tag }}
                                {% if form.new_password1.help_text %}
                                    <div class="help"{% if form.new_password1.id_for_label %}
                                         id="{{ form.new_password1.id_for_label }}_helptext"{% endif %}>{{ form.new_password1.help_text|safe }}</div>
                                {% endif %}
                                <input type="password" class="input-cust"  name="new_password1" placeholder="Введите новый пароль"
                                       value=""></td>
                        </tr>
                        <tr>
                            <td class="page__form-table-value page__form-table-value_middle page__form-table-value_long">
                                Повторите пароль
                            </td>
                            <td class="page__form-table-input page__form-table-input_long"
                                data-header="Повторите пароль"><input type="password" class="input-cust"
                                                                      placeholder="Повторите пароль" name="new_password2" value="">
                                {{ form.new_password2.errors }}
                                {{ form.new_password2.label_tag }}
                                {% if form.new_password2.help_text %}
                                    <div class="help"{% if form.new_password2.id_for_label %}
                                         id="{{ form.new_password2.id_for_label }}_helptext"{% endif %}>{{ form.new_password2.help_text|safe }}</div>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                    <button class="btn btn_fill page__form-btn">Подтвердить</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}