{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<section class="my-list" id="my-list">
    <div class="container">
        <div class="page__content-center">
            {% if process == "connect" %}
            <h1 class="page__title page__title_center">{% blocktrans with provider.name as provider %}Connect {{
                provider }}{% endblocktrans %}</h1>
            <p class="page__text page__text_center">{% blocktrans with provider.name as provider %}You are about to
                connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
            {% else %}
            <h1 class="page__title page__title_center">{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>

            <p class="page__text page__text_center">{% blocktrans with provider.name as provider %}You are about to sign
                in using a third party account from {{ provider }}.{% endblocktrans %}</p>
            {% endif %}

            <div class="page__btns">
                <form method="post">
                    {% csrf_token %}
                    <button class="btn page__btn btn_ghost" type="submit">{% trans "Continue" %}</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}



