{% extends "base.html" %}
{% block title %}Войти{% endblock %}
{% load static %}
{% block content %}
    {% load user_filters %}
    <section class="my-list" id="my-list">
        <div class="container">
            <div class="page__content-center">
                <div class="card-body">

                    <div class="">
                        <img src="{% static '/static/img/close-icon.svg' %}" alt="" class="modal__close">
                        <h1 class="modal__title">Войти или создать профиль</h1>
                        <a href="/accounts/google/login/" class="authorization-google">Войти с помощью Google</a>
                        <p class="modal__replace">или</p>
                        <form action="{% url 'login' %}" class="modal__form" method="post">
                            {% csrf_token %}
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <input type="text" name="username" class="input-cust modal__input" placeholder="Email">
                            <input type="password" name="password" class="input-cust modal__input" placeholder="Пароль">
                            <p><a href="{% url 'users:password_reset' %}" class="modal__not-pass">Забыли пароль?</a></p>
                            <button type="submit" class="btn modal__btn btn_fill">Войти</button>
                        </form>
                        <div class="modal__wrapper-block">
                            <p class="modal__text">Еще нет аккаунта?</p>
                            <a href="{% url 'users:signup' %}" class="modal__login header-top__btn-registration btn-modal" >Зарегистрируйтесь.</a>
                        </div>
                    </div>
                </div> <!-- card body -->
            </div>
        </div>
    </section>
{% endblock %}