{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <section class="settings" id="settings">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container">
                <h1 class="page__title settings__title">{% translate "Personal account settings" %}</h1>
                <div class="settings__wrapeer">
                    <div class="setting__left-block">
                        <div class="settings__block">
                            <h2 class="settings__title-block">{% translate "Personal information" %}</h2>
                            <p class="settings__text-bold">{% translate "Photo" %}</p>
                            {% if form.image.value %}
                                <img src="{{ form.image.value.url }}" name="image" alt="" class="settings__user-avatar">
                                <a href="#" class="link_underline settings__link-delete">{% translate "Delete photo" %}</a>
                                <input type="checkbox" name="image-clear" id="image-clear_id">
                            {% endif %}
                            <input type="file" class="invisible" name="image" id="dowload-img" accept="image/*">
                            <label for="dowload-img" class="btn btn_ghost settings__select-img">{% translate "Upload photo" %}</label>

                        </div>
                        <div class="settings__block">
                            <div class="settings__block-edit">
                                <a href="{% url 'users:password_change' %}" class="link_underline settings__link-edit">{% translate "Change password" %}</a>
                            </div>
                            <table class="table__inputs">
                                <tr>
                                    <td class="table__inputs-text settings__text-bold">
                                        {% translate "Email" %}
                                    </td>
                                    <td class="table__inputs-value">
                                        <input type="text" name="email" class="input-cust input-cust_fz14"
                                               value="{{ form.email.value }}" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table__inputs-text settings__text-bold">
                                        {% translate "Country" %} *
                                    </td>
                                    <td class="table__inputs-value dropdown">
                                        {{ form.country }}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="table__inputs-text settings__text-bold">
                                        {% translate "Language" %}
                                    </td>
                                    <td class="table__inputs-value dropdown">
                                        {{ form.language }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table__inputs-text settings__text-bold">
                                        {% translate "Birthday" %}
                                    </td>
                                    <td class="table__inputs-value">
                                        <input type="text" name="born_date" class="input-cust input-cust_fz14"
                                               value="{{ form.born_date.value|date:"Y-m-d" }}"
                                               placeholder="{{ form.born_date.help_text }}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table__inputs-text settings__text-bold">
                                        {% translate "Personal website" %}
                                    </td>
                                    <td class="table__inputs-value settings__inputs-value">
                                        <input type="text" name="website" class="input-cust input-cust_fz14"
                                               value="{{ form.website.value }}">
                                    </td>
                                </tr>
                            </table>
                            <div class="settings__textarea">
                                <p class="settings__text-bold settings__title">{% translate "About Me" %}</p>
                                <textarea name="bio" class="textarea-cust">{{ form.bio.value }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="setting__right-block">
                        <div class="settings__block">
                            {% if form.premium.value %}
                                <h2 class="collector-user__fullname premium">{% translate "Premium Subscription" %}</h2>
                                <br>
                                {% translate "Premium subscription gives you the opportunity to enjoy several useful additional features." %}
                                <br><br>
                                <button class="btn btn_ghost">{% translate "Cancel subscription" %}</button>
                            {% else %}
                                <h2 class="settings__title-block">{% translate "Premium Subscription" %}</h2>
                                <p class="settings__text">
                                    {% translate "Premium subscription gives you the opportunity to enjoy several useful additional features." %}

                                    <br>
                                    {% translate "We give you the opportunity to get all the benefits of a Premium subscription for free for 14 days." %}
                                </p>
                                <button class="btn btn_ghost">{% translate "Subscribe" %}</button>

                            {% endif %}

                        </div>
                        <div class="settings__block">
                            <h2 class="settings__title-block">{% translate "Confidentiality" %}</h2>
                            <div class="settings__wrapper-checkbox">
                                <div class="checkbox-cust">
                                    <input class="checkbox-cust__input" type="checkbox" name="privacy" id="privacy-1">
                                    <label for="save-collection-4">{% translate "Don't show real name" %}</label>
                                </div>
                                <div class="checkbox-cust">
                                    <input class="checkbox-cust__input" type="checkbox" name="privacy" id="privacy-2">
                                    <label for="save-collection-4">{% translate "Hide account from search" %}</label>
                                </div>
                                <div class="checkbox-cust">
                                    <input class="checkbox-cust__input" type="checkbox" name="privacy" id="privacy-3">
                                    <label for="save-collection-4">{% translate "Hide age" %}</label>
                                </div>
                            </div>
                            <a href="#" class="settings__del-user">{% translate "Delete account" %}</a>
                        </div>
                    </div>
                </div>
                {#                <button class="btn btn_fill setting__btn">{% translate "Save" %}</button>#}
                <div class="footer-buttons">
                    <div>
                        <button type="submit" value="Update" class="btn btn_fill setting__btn">{% translate "Save" %}</button>
                    </div>
                    <div>
                        <button type="button" onclick="location.href='{% url 'users:profile' %}'" class="btn btn_ghost setting__btn">{% translate "Cancel" %}</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
{% endblock %}