{% extends 'base.html' %}
{% block content %}
    <section class="settings" id="settings">
        <div class="container">
            <h1 class="page__title settings__title">Добавить предмет</h1>
            <div class="settings__wrapeer">
                <div class="setting__left-block">
                    <div class="settings__block">
                        <h2 class="settings__title-block">Характеристики</h2>
                        <table class="table__inputs">
                            <tr>
                                <td class="table__inputs-text settings__text-bold">
                                    Бренд *
                                </td>
                                <td class="table__inputs-value">
                                    <input type="text" class="input-cust" placeholder="Название бренда">
                                </td>
                            </tr>
                            <tr>
                                <td class="table__inputs-text settings__text-bold">
                                    Производитель
                                </td>
                                <td class="table__inputs-value ">
                                    <input type="text" class="input-cust" placeholder="Производитель">
                                </td>
                            </tr>
                            <tr>
                                <td class="table__inputs-text settings__text-bold">
                                    Модель
                                </td>
                                <td class="table__inputs-value dropdown">
                                    <input type="text" class="input-cust" placeholder="Модель">
                                </td>
                            </tr>
                            <tr>
                                <td class="table__inputs-text settings__text-bold">
                                    Серия
                                </td>
                                <td class="table__inputs-value">
                                    <input type="text" class="input-cust" placeholder="Серия">
                                </td>
                            </tr>
                            <tr>
                                <td class="table__inputs-text settings__text-bold">
                                    Длина ленты *
                                </td>
                                <td class="table__inputs-value dropdown">
                                    <div class="dropdown__select dropdown__select_long">Не указано</div>
                                    <ul class="dropdown__options">
                                        <li data-value="По бренду" class="">...</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="table__inputs-text settings__text-bold">
                                    Тип кассеты *
                                </td>
                                <td class="table__inputs-value dropdown">
                                    <div class="dropdown__select dropdown__select_long">Не указано</div>
                                    <ul class="dropdown__options">
                                        <li data-value="По бренду" class="">...</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="table__inputs-text settings__text-bold">
                                    Год выпуска
                                </td>
                                <td class="table__inputs-value dropdown">
                                    <div class="dropdown__select dropdown__select_long">Не указано</div>
                                    <ul class="dropdown__options">
                                        <li data-value="По бренду" class="">...</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="table__inputs-text settings__text-bold">
                                    Страна
                                </td>
                                <td class="table__inputs-value dropdown">
                                    <div class="dropdown__select dropdown__select_long">Не указано</div>
                                    <ul class="dropdown__options">
                                        <li data-value="По бренду" class="">...</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="table__inputs-text settings__text-bold">
                                    Рынок
                                </td>
                                <td class="table__inputs-value dropdown">
                                    <div class="dropdown__select dropdown__select_long">Не указано</div>
                                    <ul class="dropdown__options">
                                        <li data-value="По бренду" class="">...</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                        <div class="settings__wrapper">
                            <p class="settings__text-bold">Дополнительные параметры</p>
                            <div class="settings__wrapper-checkbox_objects">
                                <div class="checkbox-cust settings__checkbox">
                                    <input class="checkbox-cust__input" type="checkbox" name="parametrs"
                                           id="parametrs-1">
                                    <label for="parametrs-1">Катушка</label>
                                </div>
                                <div class="checkbox-cust settings__checkbox">
                                    <input class="checkbox-cust__input" type="checkbox" name="parametrs"
                                           id="parametrs-2">
                                    <label for="parametrs-2">Слим кейс</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="settings__block">
                        <div class="settings__textarea">
                            <p class="settings__title-block">Комментарий</p>
                            <textarea class="textarea-cust" placeholder="Комментарий"></textarea>
                        </div>
                    </div>
                    <div class="settings__block">
                        <p class="settings__title-block">Коллекция</p>
                        <div class="settings__collection-wrapper">
                            <div class="settings__collection">
                                <p class="settings__text-bold settings__collection-title">Состояние</p>
                                <div class="dropdown">
                                    <div class="dropdown__select dropdown__select_long">Не указано</div>
                                    <ul class="dropdown__options">
                                        <li data-value="По бренду" class="">...</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="settings__collection">
                                <p class="settings__text-bold settings__collection-title">Цена</p>
                                <input type="text" class="input-cust input-cust_fz14" placeholder="Цена">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="setting__right-block">
                    <div class="settings__block">
                        <p class="settings__title-block">Загрузить фото</p>
                        <div class="add-photo__wrapper">
                            <div class="add-photo">
                                <p class="add-photo__text">Передняя сторона упаковки</p>
                                <input type="file" class="invisible add-photo__inputChange" id="add-photo-1">
                                <img src="" alt="" class="add-photo-image">
                                <label class="add-photo__input add-photo__input_plus" for="add-photo-1"
                                       style="background: url('../../static/img/photo-prev.jpg') no-repeat center center / contain;">

                                </label>
                                <span class="add-photo-delete">
                                <img src="../../static/img/delete-photo.svg" alt="">
                            </span>
                            </div>
                            <div class="add-photo">
                                <p class="add-photo__text">Задняя сторона упаковки</p>
                                <input type="file" class="invisible add-photo__inputChange" id="add-photo-2">
                                <img src="" alt="" class="add-photo-image">
                                <label class="add-photo__input add-photo__input_plus" for="add-photo-2"
                                       style="background: url('../../static/img/photo-prev.jpg') no-repeat center center / contain;">

                                </label>
                                <span class="add-photo-delete">
                                <img src="../../static/img/delete-photo.svg" alt="">
                            </span>
                            </div>
                            <div class="add-photo">
                                <p class="add-photo__text">Торец упаковки</p>
                                <input type="file" class="invisible add-photo__inputChange" id="add-photo-3">
                                <img src="" alt="" class="add-photo-image">
                                <label class="add-photo__input add-photo__input_plus" for="add-photo-3"
                                       style="background: url('../../static/img/photo-prev.jpg') no-repeat center center / contain;">

                                </label>
                                <span class="add-photo-delete">
                                <img src="../../static/img/delete-photo.svg" alt="">
                            </span>
                            </div>
                            <div class="add-photo">
                                <p class="add-photo__text">Передняя сторона коробки</p>
                                <input type="file" class="invisible add-photo__inputChange" id="add-photo-4">
                                <img src="" alt="" class="add-photo-image">
                                <label class="add-photo__input add-photo__input_plus" for="add-photo-4"
                                       style="background: url('../../static/img/photo-prev.jpg') no-repeat center center / contain;">

                                </label>
                                <span class="add-photo-delete">
                                <img src="../../static/img/delete-photo.svg" alt="">
                            </span>
                            </div>
                            <div class="add-photo">
                                <p class="add-photo__text">Задняя сторона коробки</p>
                                <input type="file" class="invisible add-photo__inputChange" id="add-photo-5">
                                <img src="" alt="" class="add-photo-image">
                                <label class="add-photo__input add-photo__input_plus" for="add-photo-5"
                                       style="background: url('../../static/img/photo-prev.jpg') no-repeat center center / contain;">

                                </label>
                                <span class="add-photo-delete">
                                <img src="../../static/img/delete-photo.svg" alt="">
                            </span>
                            </div>
                            <div class="add-photo">
                                <p class="add-photo__text">Описание 1</p>
                                <input type="file" class="invisible add-photo__inputChange" id="add-photo-6">
                                <img src="" alt="" class="add-photo-image">
                                <label class="add-photo__input add-photo__input_plus" for="add-photo-6"
                                       style="background: url('../../static/img/photo-prev.jpg') no-repeat center center / contain;">

                                </label>
                                <span class="add-photo-delete">
                                <img src="../../static/img/delete-photo.svg" alt="">
                            </span>
                            </div>
                            <div class="add-photo">
                                <p class="add-photo__text">Описание 2</p>
                                <input type="file" class="invisible add-photo__inputChange" id="add-photo-7">
                                <img src="" alt="" class="add-photo-image">
                                <label class="add-photo__input add-photo__input_plus" for="add-photo-7"
                                       style="background: url('../../static/img/photo-prev.jpg') no-repeat center center / contain;">

                                </label>
                                <span class="add-photo-delete">
                                <img src="../../static/img/delete-photo.svg" alt="">
                            </span>
                            </div>
                            <div class="add-photo">
                                <p class="add-photo__text">Предмет (Сторона А)</p>
                                <input type="file" class="invisible add-photo__inputChange" id="add-photo-8">
                                <img src="" alt="" class="add-photo-image">
                                <label class="add-photo__input add-photo__input_plus" for="add-photo-8"
                                       style="background: url('../../static/img/photo-prev.jpg') no-repeat center center / contain;">

                                </label>
                                <span class="add-photo-delete">
                                <img src="../../static/img/delete-photo.svg" alt="">
                            </span>
                            </div>
                            <div class="add-photo">
                                <p class="add-photo__text">Предмет (Сторона Б)</p>
                                <input type="file" class="invisible add-photo__inputChange" id="add-photo-9">
                                <img src="" alt="" class="add-photo-image">
                                <label class="add-photo__input add-photo__input_plus" for="add-photo-9"
                                       style="background: url('../../static/img/photo-prev.jpg') no-repeat center center / contain;">

                                </label>
                                <span class="add-photo-delete">
                                <img src="../../static/img/delete-photo.svg" alt="">
                            </span>
                            </div>
                            <div class="add-photo">
                                <p class="add-photo__text">Общий вид (Коробка)</p>
                                <input type="file" class="invisible add-photo__inputChange" id="add-photo-10">
                                <img src="" alt="" class="add-photo-image">
                                <label class="add-photo__input add-photo__input_plus" for="add-photo-10"
                                       style="background: url('../../static/img/photo-prev.jpg') no-repeat center center / contain;">

                                </label>
                                <span class="add-photo-delete">
                                <img src="../../static/img/delete-photo.svg" alt="">
                            </span>
                            </div>
                            <div class="add-photo">
                                <p class="add-photo__text">Общий вид (Предмет)</p>
                                <input type="file" class="invisible add-photo__inputChange" id="add-photo-11">
                                <img src="" alt="" class="add-photo-image">
                                <label class="add-photo__input add-photo__input_plus" for="add-photo-11"
                                       style="background: url('../../static/img/photo-prev.jpg') no-repeat center center / contain;">

                                </label>
                                <span class="add-photo-delete">
                                <img src="../../static/img/delete-photo.svg" alt="">
                            </span>
                            </div>
                            <div class="add-photo">
                                <p class="add-photo__text">Общий вид</p>
                                <input type="file" class="invisible add-photo__inputChange" id="add-photo-12">
                                <img src="" alt="" class="add-photo-image">
                                <label class="add-photo__input add-photo__input_plus" for="add-photo-12"
                                       style="background: url('../../static/img/photo-prev.jpg') no-repeat center center / contain;">

                                </label>
                                <span class="add-photo-delete">
                                <img src="../../static/img/delete-photo.svg" alt="">
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="settings__block">
                        <p class="settings__title-block">Дополнительные данные</p>
                        <div class="settings__dropanddrop">
                            <p class="settings__text-bold settings__collection-title">Frequency Response</p>
                            <div id="dropContainer" class="dropContainer">
                                <div class="dropContainer__wrapper">
                                    <label for="fileInput-1" class="btn btn_ghost dropContainer__btn">Выберите
                                        фото</label>
                                    <span>Или перетащите сюда</span>
                                </div>
                                <div class="dropContainer__image-wrapper">
                                    <img class="preview" src="" alt="">
                                    <span class="img-delete">
                                        <img src="../../static/img/delete-photo.svg" alt="">
                                    </span>
                                </div>
                                <input type="file" id="fileInput-1" class="fileInput invisible"/>
                            </div>
                        </div>
                        <div class="settings__dropanddrop">
                            <p class="settings__text-bold settings__collection-title">Добавить штрихкод</p>
                            <div id="dropContainer" class="dropContainer">
                                <div class="dropContainer__wrapper">
                                    <label for="fileInput-2" class="btn btn_ghost dropContainer__btn">Выберите
                                        фото</label>
                                    <span>Или перетащите сюда</span>
                                </div>
                                <div class="dropContainer__image-wrapper">
                                    <img class="preview" src="" alt="">
                                    <span class="img-delete">
                                        <img src="../../static/img/delete-photo.svg" alt="">
                                    </span>
                                </div>
                                <input type="file" id="fileInput-2" class="fileInput invisible"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn_fill setting__btn">Сохранить изменения</button>
        </div>
    </section>
{% endblock %}