{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <section class="product-section section_breadcrumb" id="product-section">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb__item">
                    <a href="/">{% translate "Main" %}</a>
                </li>
                <li class="breadcrumb__item">
                    <a href="{% url 'catalog:catalog-list' %}">{% translate "Catalog" %}</a>
                </li>
                <li class="breadcrumb__item">
                    <a href="{% url 'catalog:catalog-detail' slug=object.category.slug %}">{{ object.category }}</a>
                </li>
                <li class="breadcrumb__item">
                    <a href="{% url 'catalog:brand-detail' slug=object.brand.slug %}">{{ object.brand }}</a>
                </li>
                <li class="breadcrumb__item">
                    <a href="#">{{ object.model }}</a>
                </li>
            </ul>
            <div class="page__head page__head_flex">
                <h2 class="page__title">{{ object.model }}</h2>
                {% if user.is_authenticated %}
                    {% if user.is_moderator or user.is_superuser %}
                        <a href="{% url 'catalog:cassette_update' id=object.id %}" class="page__head-link">{% translate "Edit Information" %}</a>
                    {% endif %}
                {% endif %}
            </div>
            <ul class="gallery-product">
                {% with image=object.cassettesimage_set.get %}
                    {% if image.package_front_side %}<li class="gallery-product__item"><img src="{{ image.package_front_side.url }}"></li>{% endif %}
                    {% if image.package_back_side %}<li class="gallery-product__item"><img src="{{ image.package_back_side.url }}"></li>{% endif %}
                    {% if image.package_end_side %}<li class="gallery-product__item"><img src="{{ image.package_end_side.url }}"></li>{% endif %}
                    {% if image.box_front_side %}<li class="gallery-product__item"><img src="{{ image.box_front_side.url }}"></li>{% endif %}
                    {% if image.box_back_side %}<li class="gallery-product__item"><img src="{{ image.box_back_side.url }}"></li>{% endif %}
                    {% if image.description_one %}<li class="gallery-product__item"><img src="{{ image.description_one.url }}"></li>{% endif %}
                    {% if image.description_two %}<li class="gallery-product__item"><img src="{{ image.description_two.url }}"></li>{% endif %}
                    {% if image.item_side_a %}<li class="gallery-product__item"><img src="{{ image.item_side_a.url }}"></li>{% endif %}
                    {% if image.item_side_b %}<li class="gallery-product__item"><img src="{{ image.item_side_b.url }}"></li>{% endif %}
                    {% if image.box_general_view %}<li class="gallery-product__item"><img src="{{ image.box_general_view.url }}"></li>{% endif %}
                    {% if image.item_general_view %}<li class="gallery-product__item"><img src="{{ image.item_general_view.url }}"></li>{% endif %}
                    {% if image.general_view %}<li class="gallery-product__item"><img src="{{ image.general_view.url }}"></li>{% endif %}
                {% endwith %}
            </ul>
            {#            <form action="" class="product__form">#}
            <div class="product__info">
                <div class="product__info-wrapper page__wrapper product__info-wrapper">
                    <div class="page__left product__left">
                        <div class="product__block product__specifications">
                            <h3 class="product__subtitle">{% translate "Characteristics" %}</h3>
                            <table class="table-info product__table-info">
                                <tr>
                                    <td style="width: 125px;" class="table-info__name">{% translate "Brand" %}</td>
                                    <td class="table-info__value"><a href="#">{{ object.brand }}</a></td>
                                </tr>
                                <tr>
                                    <td class="table-info__name">{% translate "Manufacturer" %}</td>
                                    <td class="table-info__value"><a href="#">{{ object.manufacturer }}</a></td>
                                </tr>
                                <tr>
                                    <td class="table-info__name">{% translate "Model" %}</td>
                                    <td class="table-info__value"><a href="#">{{ object.model }}</a></td>
                                </tr>
                                <tr>
                                    <td class="table-info__name">{% translate "Series" %}</td>
                                    <td class="table-info__value"><a href="#">{{ object.series }}</a></td>
                                </tr>
                                <tr>
                                    <td class="table-info__name">{% translate "Tape length" %}</td>
                                    <td class="table-info__value">{{ object.tape_length }}
                                        <!-- <ul class="table-info__replase">
                                             <li>54</li>
                                             <li>60</li>
                                             <li class="bold">90</li>
                                             <li>54</li>
                                             <li>54</li>
                                         </ul> -->
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-info__name">{% translate "Type of cassete" %}</td>
                                    <td class="table-info__value">{{ object.type }}</td>
                                </tr>
                                <tr>
                                    <td class="table-info__name">{% translate "Release year" %}</td>
                                    <td class="table-info__value"><a href="#">{{ object.year_release }}</a></td>
                                </tr>
                                <tr>
                                    <td class="table-info__name">{% translate "Country" %}</td>
                                    <td class="table-info__value"><a href="#">{{ object.brand.country }}</a></td>
                                </tr>
                                <tr>
                                    <td class="table-info__name">{% translate "Market" %}</td>
                                    <td class="table-info__value"><a href="#">Locale</a></td>
                                </tr>
                                <tr>
                                    <td class="table-info__name">{% translate "Barcode" %}/td>
                                    {% if object.cassettesimage_set.get.barcode %}<td class="table-info__value"><img src="{{object.cassettesimage_set.get.barcode.url}}" alt="">{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    {% comment %}Translators: cassete /Купить сейчас{% endcomment %}
                                    <td class="table-info__name">{% translate "Buy now" %}</td>
                                    {% comment %}Translators: cassete /Поиск похожих предметов на eBay{% endcomment %}
                                    <td class="table-info__value"><a href="#">{% translate "Search for similar items on eBay" %}</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="product__block product__collection">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <input name="form_name" value="collection" type="hidden"/>
                                <h3 class="product__subtitle">{% translate "Collection" %}</h3>
                                <h4 class="product__collection-title">{% translate "Condition" %}</h4>
                                <table class="table-cust product__collection-table">
                                    <tr>
                                        <th>{% translate "Poor" %}</th>
                                        <th>{% translate "Good" %}</th>
                                        <th>{% translate "Very Good" %}</th>
                                        <th>{% translate "Excellent" %}</th>
                                        <th>{% translate "Near mint" %}</th>
                                        <th>{% translate "Mint" %}</th>
                                    </tr>
                                    {% for price in object.prices.all %}
                                        <tr>
                                            <td>
                                                <input class="product__collection-radio" type="radio" name="condition" value="Poor"
                                                       id="condition-1" {% if not price.poor %}disabled{% endif %}>
                                                <label for="condition-1">{% if price.poor %}{{ price.poor }}{% else %}-{% endif %}</label>
                                            </td>
                                            <td>
                                                <input class="product__collection-radio" type="radio" name="condition" value="Good"
                                                       id="condition-2" {% if not price.good %}disabled{% endif %}>
                                                <label for="condition-2">{% if price.good %}{{ price.good }}{% else %}-{% endif %}</label>
                                            </td>
                                            <td>
                                                <input class="product__collection-radio" type="radio" name="condition" value="Very Good"
                                                       id="condition-3" {% if not price.very_good %}disabled{% endif %}>
                                                <label for="condition-3">{% if price.very_good %}{{ price.very_good }}{% else %}-{% endif %}</label>
                                            </td>
                                            <td>
                                                <input class="product__collection-radio" type="radio" name="condition" value="Excellent"
                                                       id="condition-4" {% if not price.excellent %}disabled{% endif %}>
                                                <label for="condition-4">{% if price.excellent %}{{ price.excellent }}{% else %}-{% endif %}</label>
                                            </td>
                                            <td>
                                                <input class="product__collection-radio" type="radio" name="condition" value="Near Mint"
                                                       id="condition-5" {% if not price.near_mint %}disabled{% endif %}>
                                                <label for="condition-5">{% if price.near_mint %}{{ price.near_mint }}{% else %}-{% endif %}</label>
                                            </td>
                                            <td>
                                                <input class="product__collection-radio" type="radio" name="condition" value="Mint"
                                                       id="condition-6" {% if not price.mint %}disabled{% endif %}>
                                                <label for="condition-6">{% if price.mint %}{{ price.mint }}{% else %}-{% endif %}</label>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </table>
                                {% if user.is_authenticated %}
                                    <div class="product__collection-save">
                                        <div class="product__collection-wrapper-checkbox checkbox-cust">
                                            <input class="checkbox-cust__input product__collection-checkbox" type="checkbox"
                                                   name="my-collection" id="save-collection-1">
                                            <label for="save-collection-1">{% translate "My collection" %}</label>
                                        </div>
                                        <div class="product__collection-wrapper-checkbox checkbox-cust">
                                            <input class="checkbox-cust__input product__collection-checkbox" type="checkbox"
                                                   name="wishlist-collection" id="save-collection-2">
                                            <label for="save-collection-2">{% translate "Wishlist" %}</label>
                                        </div>
                                        <div class="product__collection-wrapper-checkbox checkbox-cust">
                                            <input class="checkbox-cust__input product__collection-checkbox" type="checkbox"
                                                   name="exchange-collection" id="save-collection-3">
                                            <label for="save-collection-3">{% translate "Exchange" %}</label>
                                        </div>
                                        <div class="product__collection-wrapper-checkbox checkbox-cust">
                                            <input class="checkbox-cust__input product__collection-checkbox" type="checkbox"
                                                   name="sell-collection" id="save-collection-4">
                                            <label for="save-collection-4">{% translate "Sell" %}</label>
                                        </div>
                                        <div>
                                            <label for="collection_price_input">{% translate "Price" %}</label>
                                            <input type="number" name="collection_price" id="collection_price_input" min="1">
                                        </div>
                                    </div>
                                    <button type="submit" value="Submit" class="btn btn_fill product__collection-btn">{% translate "Add" %}</button>
                                {% else %}
                                    <p class="product__comments-text">Войдите или зарегистрируйтесь для того что бы добавить кассету в коллекцию, список желаний, обмена или продажи.</p>
                                {% endif %}
                            </form>
                        </div>

                        <div class="product__block product__frequencies">
                            <h3 class="product__subtitle">{% translate "Frequency Response" %}</h3>
                            {% if object.cassettesimage_set.get.frequency_response %}<img class="product__frequencies-image" src="{{object.cassettesimage_set.get.frequency_response.url}}" alt="">{% endif %}
                        </div>
                    </div>
                    <div class="page__right product__right">
                        <h4 class="page__subtitle">{% translate "Now on eBay" %}</h4>
                        <ul class="now-ebay product__now-ebay">
                            <li class="now-ebay__item">
                                <a href="#" class="product-small">
                                    <div class="product-small__image-wrapper">
                                        <img src="/static/img/cassette-5.jpg" alt=""
                                             class="product-small__img">
                                    </div>
                                    <h2 class="product-small__name">AGFA MS 400, 1973</h2>
                                    <p class="product-small__price">789 ₽</p>
                                </a>
                            </li>
                            <li class="now-ebay__item">
                                <a href="#" class="product-small">
                                    <div class="product-small__image-wrapper">
                                        <img src="/static/img/cassette-5.jpg" alt=""
                                             class="product-small__img">
                                    </div>
                                    <h2 class="product-small__name">AGFA MS 400, 1973</h2>
                                    <p class="product-small__price">789 ₽</p>
                                </a>
                            </li>
                            <li class="now-ebay__item">
                                <a href="#" class="product-small">
                                    <div class="product-small__image-wrapper">
                                        <img src="/static/img/cassette-5.jpg" alt=""
                                             class="product-small__img">
                                    </div>
                                    <h2 class="product-small__name">AGFA MS 400, 1973</h2>
                                    <p class="product-small__price">789 ₽</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="product__variants">
                    {% comment %}Translators: cassete / Варианты{% endcomment %}
                    <h3 class="product__subtitle">{% translate "Options" %}</h3>
                    <div class="product__variants-wrapper">
                        <div class="product__variants-radio-wrapper">
                            <input class="product__variants-radio" type="radio" id="variant-1" name="variant">
                            <label for="variant-1">
                                <div class="variant">
                                    <div class="variant__img">
                                        <img src="/static/img/cassette-10.jpg" alt="" class="variant__img">
                                    </div>
                                    <p class="variant__text">Легендарный немецкий концерн с кассетным производством
                                        в Леверкузене. </p>
                                </div>
                            </label>
                        </div>
                        <div class="product__variants-radio-wrapper">
                            <input class="product__variants-radio" type="radio" id="variant-2" name="variant">
                            <label for="variant-2">
                                <div class="variant">
                                    <div class="variant__img">
                                        <img src="/static/img/cassette-10.jpg" alt="" class="variant__img">
                                    </div>
                                    <p class="variant__text">Легендарный немецкий концерн с кассетным производством
                                        в Леверкузене. </p>
                                </div>
                            </label>
                        </div>
                        <div class="product__variants-radio-wrapper">
                            <input class="product__variants-radio" type="radio" id="variant-3" name="variant">
                            <label for="variant-3">
                                <div class="variant">
                                    <div class="variant__img">
                                        <img src="/static/img/cassette-10.jpg" alt="" class="variant__img">
                                    </div>
                                    <p class="variant__text">Легендарный немецкий концерн с кассетным производством
                                        в Леверкузене. </p>
                                </div>
                            </label>
                        </div>
                        <div class="product__variants-radio-wrapper">
                            <input class="product__variants-radio" type="radio" id="variant-4" name="variant">
                            <label for="variant-4">
                                <div class="variant">
                                    <div class="variant__img">
                                        <img src="/static/img/cassette-10.jpg" alt="" class="variant__img">
                                    </div>
                                    <p class="variant__text">Легендарный немецкий концерн с кассетным производством
                                        в Леверкузене. </p>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="product__variants">
                    {% comment %}Translators: cassete / Варианты выпуска{% endcomment %}
                    <h3 class="product__subtitle">{% translate "Release options" %}</h3>
                    <div class="product__variants-wrapper product__variants-wrapper_not-jcsb">
                        <div class="product__variants-radio-wrapper product__variants-radio-wrapper_margin">
                            <input class="product__variants-radio" type="radio" id="variant-release"
                                   name="variant-release">
                            <label for="variant-release-1">
                                <div class="variant-release">
                                    <div class="variant-release__img">
                                        <img src="/static/img/cassette-11.jpg" alt="">
                                    </div>
                                    <div class="variant-release__wrapper">
                                        <h2 class="variant-release__name">PS-IIx</h2>
                                        <p class="variant-release__index">60</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="product__variants-radio-wrapper product__variants-radio-wrapper_margin">
                            <input class="product__variants-radio" type="radio" id="variant-release-2"
                                   name="variant-release">
                            <label for="variant-release-2">
                                <div class="variant-release">
                                    <div class="variant-release__img">
                                        <img src="/static/img/cassette-11.jpg" alt="">
                                    </div>
                                    <div class="variant-release__wrapper">
                                        <h2 class="variant-release__name">PS-IIx</h2>
                                        <p class="variant-release__index">60</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="product__variants-radio-wrapper product__variants-radio-wrapper_margin">
                            <input class="product__variants-radio" type="radio" id="variant-release-3"
                                   name="variant-release">
                            <label for="variant-release-3">
                                <div class="variant-release">
                                    <div class="variant-release__img">
                                        <img src="/static/img/cassette-11.jpg" alt="">
                                    </div>
                                    <div class="variant-release__wrapper">
                                        <h2 class="variant-release__name">PS-IIx</h2>
                                        <p class="variant-release__index">60</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="product__variants-radio-wrapper product__variants-radio-wrapper_margin">
                            <input class="product__variants-radio" type="radio" id="variant-release-4"
                                   name="variant-release">
                            <label for="variant-release-4">
                                <div class="variant-release">
                                    <div class="variant-release__img">
                                        <img src="/static/img/cassette-12.jpg" alt="">
                                    </div>
                                    <div class="variant-release__wrapper">
                                        <h2 class="variant-release__name">PS-IIx</h2>
                                        <p class="variant-release__index">60</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            {#            </form>#}

            <div class="product__comments-add">
                <h2 class="product__comments-title">{% translate "Comments" %}</h2>
                {% if user.is_authenticated %}
                    <p class="product__comments-text">Вы можете помочь улучшить наш каталог, добавив ваш комментарий.</p>
                    <form action="" method="POST" class="product__comments-form">
                        {% csrf_token %}
                        <input name="form_name" value="comment" type="hidden"/>
                        {{ form.non_form_errors }}
                        {{ form }}
                        <button type="submit" value="Submit" class="product__comments-btn btn btn_fill">Оставить комментарий</button>
                    </form>
                {% else %}
                    <p class="product__comments-text">Вы можете помочь улучшить наш каталог. Войдите или зарегистрируйтесь для того что бы оставить ваш комментарий.</p>
                {% endif %}
            </div>
            <ul class="product__comments">
                {% for comment in comments %}
                    <li class="product__comments-item">
                        <div class="comment">
                            <div class="user ">
                                <img src="{% if comment.user.image %}{{ comment.user.image.url }}{% else %}{% static 'img/avatar.jpg' %}{% endif %}" alt="" class="user__avatar">
                                <div class="user__wrapper">
                                    <h2 class="user__name">{{ comment.user.first_name }} {{ comment.user.last_name }}</h2>
                                    <p class="user__nick">{{ comment.user.username }}</p>
                                </div>
                            </div>
                            <p><a name="comment_{{ comment.id }}"></a></p>
                            <p class="comment__text">{{ comment.comment }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
