{% extends 'base.html' %}
{% block title %}{{page_title}}{% endblock %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}
{% block content %}
  <section class="settings" id="settings">
    <div class="container">
      <h1 class="page__title settings__title">{{page_title}}</h1>
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.managment_form }}
        {{ form.non_form_errors }}
        <div class="settings__wrapeer">
          <div class="setting__left-block">
            <div class="settings__block">
            {% comment %}Translators: edit-cassete / Характеристики{% endcomment %}
              <h2 class="settings__title-block">{% translate "Characteristics" %}</h2>
              <table class="table__inputs">
                <tr>
                  <td class="table__inputs-text settings__text-bold">{{ form.brand.label }}{% if form.brand.field.required  %}*{% endif %}</td>
                  <td class="table__inputs-value">{{ form.brand }}{{ form.brand.errors }}</td>
                </tr>
                <tr>
                  <td class="table__inputs-text settings__text-bold">{{ form.manufacturer.label }}{% if form.manufacturer.field.required  %}*{% endif %}</td>
                  <td class="table__inputs-value ">{{ form.manufacturer }}{{ form.manufacturer.errors }}</td>
                </tr>
                <tr>
                  <td class="table__inputs-text settings__text-bold">
                    {{ form.model.label }}
                    {% if form.model.field.required  %}*{% endif %}
                  </td>
                  <td class="table__inputs-value dropdown">
                    {{ form.model }}
                    {{ form.model.errors }}
                  </td>
                </tr>
                <tr>
                  <td class="table__inputs-text settings__text-bold">
                    {{ form.series.label }}
                    {% if form.series.field.required  %}*{% endif %}
                  </td>
                  <td class="table__inputs-value">
                    {{ form.series }}
                    {{ form.series.errors }}
                  </td>
                </tr>
                <tr>
                  <td class="table__inputs-text settings__text-bold">
                    {{ form.tape_length.label }}
                    {% if form.tape_length.field.required  %}*{% endif %}
                  </td>
                  <td class="table__inputs-value dropdown">
                    {{ form.tape_length }}
                    {{ form.tape_length.errors }}
                  </td>
                </tr>
                <tr>
                  <td class="table__inputs-text settings__text-bold">
                    {{ form.type.label }}
                    {% if form.type.field.required  %}*{% endif %}
                  </td>
                  <td class="table__inputs-value dropdown">
                    {{ form.type }}
                    {{ form.type.errors }}
                  </td>
                </tr>
                <tr>
                  <td class="table__inputs-text settings__text-bold">
                    {{ form.year_release.label }}
                    {% if form.year_release.field.required  %}*{% endif %}
                  </td>
                  <td class="table__inputs-value dropdown">
                    {{ form.year_release }}
                    {{ form.year_release.errors }}
                  </td>
                </tr>
              </table>
              <div class="settings__wrapper">
                  {% comment %}Translators: edit-cassete / Дополнительные параметры{% endcomment %}
                <p class="settings__text-bold">{% translate "Extra options" %}</p>
                <div class="settings__wrapper-checkbox_objects">
                  <div class="checkbox-cust settings__checkbox">
                    {{ form.coil }}
                    <label for="parametrs-1">{{ form.coil.label }}</label>
                  </div>
                  <div class="checkbox-cust settings__checkbox">
                    {{ form.slim_case }}
                    <label for="parametrs-2">{{ form.slim_case.label }}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="settings__block">
              <div class="settings__textarea">
                <p class="settings__title-block">{{ form.comment.label }}</p>
                {{ form.comment }}
              </div>
            </div>
            <div class="settings__block">
            {% comment %}Translators: edit-cassete / Коллекция{% endcomment %}
              <h2 class="settings__title-block">{% translate "Collection" %}</h2>
              {{ cassette_price_form.non_form_errors }}
              <table class="table__inputs">
                <tr>
                  <div class="settings__collection-wrapper">
                    <td class="table__inputs-text settings__text-bold">
                        {% comment %}Translators: edit-cassete / Состояние{% endcomment %}
                      {% translate "Condition" %}
                      {#                    <div class="settings__collection">#}
                      {#                      <p class="settings__text-bold settings__collection-title">Состояние</p>#}
                      {#                    </div>#}
                    </td>
                    <td class="table__inputs-value settings__text-bold">
                        {% comment %}Translators: edit-cassete / Цена{% endcomment %}
                      {% translate "Price" %}
                      {#                     <div class="settings__collection">#}
                      {#                      <p class="settings__text-bold settings__collection-title">Цена</p>#}
                      {#                    </div>#}
                    </td>
                  </div>
                </tr>
                {% for field in cassette_price_form %}
                  <tr>
                    <td class="table__inputs-text settings__text-bold">
                      {{ field.label}}
                    </td>
                    <td class="table__inputs-value">
                      {{ field }}
                      {{ form.series.errors }}
                    </td>
                  </tr>

                {% endfor %}
              </table>



              {#            <table class="table__inputs">#}
              {#                <tr>#}
              {#                  <div class="settings__collection-wrapper">#}
              {#                  <td>#}
              {#                    <div class="settings__collection">#}
              {#                      <p class="settings__text-bold settings__collection-title">Состояние</p>#}
              {#                    </div>#}
              {#                  </td>#}
              {#                  <td>#}
              {#                     <div class="settings__collection">#}
              {#                      <p class="settings__text-bold settings__collection-title">Цена</p>#}
              {#                    </div>#}
              {#                  </td>#}
              {#                  </div>#}
              {#                </tr>#}
              {#            <tr>#}
              {#                {% for field in cassette_price_form %}#}
              {##}
              {##}
              {#                    <td class="table__inputs-text settings__text-bold">#}
              {#                      {{ field.label}}#}
              {#                    </td>#}
              {#               {% endfor %}#}
              {#             </tr>#}
              {#            <tr>#}
              {#                {% for field in cassette_price_form %}#}
              {#                    <td class="table__inputs-value">#}
              {#                      {{ field }}#}
              {#                      {{ form.series.errors }}#}
              {#                    </td>#}
              {#                    {% endfor %}#}
              {#             </tr>#}
              {##}
              {##}
              {#              </table>#}


              {#              <div class="settings__collection-wrapper">#}
              {#                <div class="settings__collection">#}
              {#                  <p class="settings__text-bold settings__collection-title">Состояние</p>#}
              {#                </div>#}
              {#                <div class="settings__collection">#}
              {#                  <p class="settings__text-bold settings__collection-title">Цена</p>#}
              {#                </div>#}
              {#              </div>#}
              {#              {% for field in cassette_price_form %}#}
              {#                {{ price_form.id }}#}
              {#                <div class="settings__collection-wrapper">#}
              {#                  <div class="settings__collection">#}
              {#                    {{ field.label}}#}
              {#                  </div>#}
              {#                  <div class="settings__collection">#}
              {#                    {{ field }}#}
              {#                  </div>#}
              {#                </div>#}
              {#                {{ price_form.errors }}#}
              {#                {% for hidden_field in price_form.hidden_fields %}#}
              {#                  {{ hidden_field }}#}
              {#                {% endfor %}#}
              {#              {% endfor %}#}
            </div>
          </div>
          <div class="setting__right-block">
            <div class="settings__block">
            {% comment %}Translators: edit-cassete / Загрузить фото{% endcomment %}
              <p class="settings__title-block">{% translate "Upload a photo" %}</p>
              <div class="add-photo__wrapper">
              {{ imageformset.management_form }}
                  {% for form in imageformset %}

                      <div class="add-photo">
                          <p class="add-photo__text">{{ field.label }}</p>
                          {% if not form.image.value %}{{ form.image }}{% endif %}
                          {{ field.errors }}

                          <img src="" alt="img" class="add-photo-image">
                          {% if form.image.value %}
                              <label class="add-photo__input" for="{{ form.image.id_for_label }}" style="background: url({{ form.image.value.url }}) no-repeat center center / contain;"></label>
                          {% else%}
                              <label class="add-photo__input add-photo__input_plus" for="{{ form.image.id_for_label }}" style="background: url({% static 'img/photo-prev.jpg' %}) no-repeat center center / contain;"></label>
                          {% endif %}
                          <span class="add-photo-delete">
                      <img src="{% static 'img/delete-photo.svg' %}" alt="">
                    </span>
                      </div>
{#                      {{ form }}#}
                  {% endfor %}


{#                {{ cassette_image_form.non_form_errors }}#}
{#                {% for field in cassette_image_form %}#}
{#                  <div class="add-photo">#}
{#                    <p class="add-photo__text">{{ field.label }}</p>#}
{#                    {% if not field.value %}{{ field }}{% endif %}#}
{#                    {{ field.errors }}#}
{#                    <img src="" alt="img" class="add-photo-image">#}
{#                    {% if field.value %}#}
{#                      <label class="add-photo__input" for="{{ field.id_for_label }}" style="background: url({{ field.value.url }}) no-repeat center center / contain;"></label>#}
{#                    {% else%}#}
{#                      <label class="add-photo__input add-photo__input_plus" for="{{ field.id_for_label }}" style="background: url({% static 'img/photo-prev.jpg' %}) no-repeat center center / contain;"></label>#}
{#                    {% endif %}#}
{#                    <span class="add-photo-delete">#}
{#                      <img src="{% static 'img/delete-photo.svg' %}" alt="">#}
{#                    </span>#}
{#                  </div>#}
{#                {% endfor %}#}


              </div>
<!--              <div class="settings__block">-->
<!--              {% comment %}Translators: edit-cassete / Дополнительные данные<{% endcomment %}-->
<!--                <p class="settings__title-block">{% translate "Extra information" %}</p>-->
<!--                {{ cassette_image_addons_form.non_form_errors }}-->
<!--                {% for field in cassette_image_addons_form %}-->
<!--                  <div class="settings__dropanddrop">-->
<!--                    <p class="settings__text-bold settings__collection-title">{{ field.label }}</p>-->
<!--                    <div id="dropContainer_Frequency" class="dropContainer">-->
<!--                      <div class="dropContainer__wrapper">-->
<!--                          {% comment %}Translators: edit-cassete / Выберите фото{% endcomment %}-->
<!--                        <label for="{{ field.id_for_label }}" class="btn btn_ghost dropContainer__btn">{% translate "Chose a photo" %}</label>-->
<!--                          {% comment %}Translators: edit-cassete / Или перетащите сюда{% endcomment %}-->
<!--                        <span>{% translate "Or drag and drop here" %}</span>-->
<!--                      </div>-->
<!--                      {% if field.value %}-->
<!--                        <div>-->
<!--                          <img src="{{ field.value.url }}" width=200 alt="">-->
<!--                        </div>-->
<!--                      {% else %}-->
<!--                        <div class="dropContainer__image-wrapper">-->
<!--                          <img class="preview" src="" alt="">-->
<!--                          <span class="img-delete"><img src="{% static 'img/delete-photo.svg' %}" alt=""></span>-->
<!--                        </div>-->
<!--                      {% endif %}-->
<!--                      {% if not field.value %}{{ field }}{% endif %}-->
<!--                      {{ field.errors }}-->
<!--                    </div>-->
<!--                  </div>-->
<!--                {% endfor %}-->
<!--              </div>-->
            </div>
          </div>
        </div>
        <div class="footer-buttons">
          <div>
              {% comment %}Translators: edit-cassete / Сохранить изменения{% endcomment %}
            <button type="submit" value="Update" class="btn btn_fill setting__btn">{% translate "Save" %}</button>
          </div>
          <div>
              {% comment %}Translators: edit-cassete / Отменить изменения{% endcomment %}
            <button type="button" onclick="location.href='{{ cassette.get_absolute_url }}'" class="btn btn_ghost setting__btn">{% translate "Cancel" %}</button>
          </div>
        </div>
      </form>
    </div>
  </section>
{% endblock %}