{% extends 'base.html' %}
{% block content %}
    <section class="help" id="help">
       <div class="container">
           <ul class="breadcrumb">
                <li class="breadcrumb__item">
                    <a href="#">Главная</a>
                </li>
                <li class="breadcrumb__item">Помощь</li>
            </ul>
            <h1 class="page__title help__title">Помощь</h1>
            <div class="group-list help__wrapper">
                <div class="group-list__wrapper help__group">
                    <h2 class="group-list__title help__subtitle">Запись звука</h2>
                    <ul class="group-list__list help__list">
                        <li class="group-list__item help__item">
                            <a href="">Магнитная запись</a>
                        </li>
                        <li class="group-list__item help__item">
                            <a href="">Магнитная запись</a>
                        </li>
                        <li class="group-list__item help__item">
                            <a href="">Магнитная запись</a>
                        </li>
                        <li class="group-list__item help__item">
                            <a href="">Магнитная запись</a>
                        </li>
                        <li class="group-list__item help__item">
                            <a href="">Магнитная запись</a>
                        </li>
                    </ul>
                </div>
                <div class="group-list__wrapper help__group">
                    <h2 class="group-list__title help__subtitle">Типы ленты</h2>
                    <ul class="help__list">
                        <li class="group-list__item help__item">
                            <a href="#">Type I</a>
                        </li>
                        <li class="group-list__item help__item">
                            <a href="#">Type II</a>
                        </li>
                        <li class="group-list__item help__item">
                            <a href="#">Type IV</a>
                        </li>
                        <li class="group-list__item help__item">
                            <a href="#">Type IV</a>
                        </li>
                    </ul>
                </div>
                <div class="group-list__wrapper help__group">
                    <h2 class="group-list__title help__subtitle">Запись звука</h2>
                    <ul class="help__list">
                        <li class="group-list__item help__item">
                            <a href="#">Магнитная запись</a>
                        </li>
                        <li class="group-list__item help__item">
                            <a href="#">Магнитная запись</a>
                        </li>
                        <li class="group-list__item help__item">
                            <a href="#">Магнитная запись</a>
                        </li>
                        <li class="group-list__item help__item">
                            <a href="#">Магнитная запись</a>
                        </li>
                    </ul>
                </div>
                <div class="group-list__wrapper help__group">
                    <h2 class="group-list__title help__subtitle">Записывающий механизм</h2>
                    <ul class="help__list">
                        <li class="group-list__item help__item"><a href="#">Продольная система записи</a></li>
                        <li class="group-list__item help__item"><a href="#">Продольная система записи</a></li>
                        <li class="group-list__item help__item"><a href="#">Продольная система записи</a></li>
                        <li class="group-list__item help__item"><a href="#">Продольная система записи</a></li>
                        <li class="group-list__item help__item"><a href="#">Продольная система записи</a></li>
                    </ul>
                </div>
                <div class="group-list__wrapper help__group">
                    <h2 class="group-list__title help__subtitle">Носители</h2>
                    <ul class="help__list">
                        <li class="group-list__item help__item">
                            <a href="#">Магнитная лента</a>
                        </li>
                        <li class="group-list__item help__item">
                            <a href="#">Магнитная лента</a>
                        </li>
                        <li class="group-list__item help__item">
                            <a href="#">Магнитная лента</a>
                        </li>
                        <li class="group-list__item help__item">
                            <a href="#">Магнитная лента</a>
                        </li>
                        <li class="group-list__item help__item">
                            <a href="#">Магнитная лента</a>
                        </li>
                    </ul>
                </div>
            </div>
       </div>
   </section>
{% endblock %}